<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head %>
</head>

<body>
    <!--header--> 
    <% include ../../partials/header %>
    <!--end header-->

    <!--body-->
    <div id="mod-tinh-nguyen-2" class="module">
        <div class="content-page">
            <            
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="container">
                            <div id="mod-navigation">
                                <a href="/trangchu">Trang chủ</a> <span>&gt;</span> <a>Danh sách tổ chức </a>
                            </div>
                            <div id="mod-list-description">
                                <div class="row">
                                    <!-- card -->
                                    <% arr.forEach(function(ar) {  %>
                                    <div class="items col-md-4 col-sm-6 col-xs-12 item-organe relative-lable"  >
                                        <div class="inner">
                                            <%  if(cookie_user ){ %> 
                                                <a class="show-a" href="/profile/<%= ar.username %>"></a>
                                                <%  }else{ %> 
                                                <span class="show-a" href="/profile/<%= ar.username %>"></span>
                                                <%  } %> 
                                            <h2><%= ar.tentochuc %> 
                                            </h2>
                                            <div class="line"></div>
                                            <h3>
                                                  Địa chỉ: <%= ar.diachi %> 
                                            </h3>
                                            
                                            <div class="line"></div>
                                            <p><strong>Thông tin liên hệ: </strong>
                                                  Địa chỉ:  <%= ar.diachi %>  
                                                  <br>
                                                 Email: <%= ar.mail %> 
                                                 <br>
                                               Số Điện thoại: <%= ar.phone %> 
                                            </p>
                                        </div>
                                        
                                    </div>
                                    <%     }) %>
                                     <!-- end card -->
                                </div>
                            </div>
                            
                            <div class="clearfix"></div>
                            <div class="mod-pagination">
        
                            </div>
                        </div>
                    </div>
            </div>              
        </div>
    </div>
    <!--end body-->
</body>

</html>