<!DOCTYPE html>
<html>
<% include ../../partials/head %>

<body>
    <!--header-->
    <% include ../../partials/header %>
    <!--end header-->

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

        <div id="mod-danh-ba-1" class="module">
            <div class="content-page">
                <!-- search menu -->
                <div class="col col-left col-xs-4">
                    <div id="mod-submenu">
                        <div class="container sticky">
                             <!--   timkiem -->
                             <% include ../../partials/timkiem %>
                            <!-- end timkiem -->
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="position: relative; top: 7%;">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <div class="container emp-profile" style="position: relative; top: 25%;">

            <div class="row">

                <div class="col-md-12">
                    <div class="profile-head">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">CÁC CÔNG VIỆC CÒN THIẾU NGƯỜI</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">CÔNG VIỆC ĐÃ ĐỦ </a>


                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="profile-work">

                    </div>
                </div>
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <!-- tesst -->
                        <h1> <%=  doiTuongTG %></h1>
                        <!-- tesst -->
                        <% arr.forEach(function(ar) {  %>
                        <%  var songuoi =0  %>

                        
                        <%  if(linhvuc == ar.linhvuc && ar.ketthuc == false )  { %>
                           
                        <%    for (let value of Object.values(ar.hoatdong)) { %>

                        <h1><% ++songuoi %></h1>

                        <%  } %>
                        <%   if(songuoi < ar.soluong){ %>
                            
              
                        <div class="media" style=" background: #eee;
                    max-width: 800px;
                    padding: 15px 20px;
                    font-size: 16px;
                    border-radius:15px">
                            <img src="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-11.jpg" class="mr-3"
                                alt="..." style="width: 5%;">

                            <div class="media-body">
                                <a href="/profile/<%= ar.username %>">
                                    <h5 class="mt-0 mb-1"> <%= ar.username %></h5>
                                </a>
                                <h5 class="mt-0 mb-1">Tiêu đề: <%= ar.tenbaiviet %></h5>
                                <div class="btn-group" style="float: right; position: relative; bottom: 60px;">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        apply
                                    </button>
                                    <div class="dropdown-menu" st>
                                        <% if(!cookie){ %>
                                        <a class="dropdown-item" href="#">Bạn cần đăng nhập đẻ thao tác với bài viết này
                                        </a>
                                        <% }else{ %>
                                        <a class="dropdown-item" href="/profile/<%= ar.username %>">Xem trang cá
                                            nhân</a>
                                        <a class="dropdown-item" href="/danhba_post/<%= ar.linhvuc %>/<%= ar.ID %>">Xem
                                            chi tiết bài viết này</a>
                                        <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">báo cáo bài viết</a>
                                        <%  } %>


                                    </div>
                                </div>
                                <%  if(ar.mota.length < 250){ %>
                                <p style="color: #575757;"><%= ar.mota %> </p>
                                <%    }else{ %>
                                <p style="color: #575757;"><%= ar.mota.slice(0, 250) %> <a
                                        href="/danhba_post/<%= ar.linhvuc %>/<%= ar.ID %>"">...xem thêm</a></p>
                                <%     } %>
                                <div>
                                    <p style=" float: left;">Thời gian bắt đầu: <%= ar.time_Start  %> </p>

                                <p style="float: right;">Thời gian kết thúc: <%= ar.time_End %> </p>
                            </div>
                        </div>

                    </div>

                    <!-- Example single danger button -->

                    <hr>
                    <%    } %>
                    <%  }     %>


                    <% }); %>
                    
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <!-- card -->
                    <% arr.forEach(function(ar) {  %>
                        <%  var songuoi =0  %>


                        <%  if(linhvuc == ar.linhvuc && ar.ketthuc == false )  { %>
                        <%    for (let value of Object.values(ar.hoatdong)) { %>

                        <h1><% ++songuoi %></h1>

                        <%  } %>
                        <%   if(songuoi == ar.soluong){ %>
                            
                 
                        <div class="media" style=" background: #eee;
                    max-width: 800px;
                    padding: 15px 20px;
                    font-size: 16px;
                    border-radius:15px">
                            <img src="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-11.jpg" class="mr-3"
                                alt="..." style="width: 5%;">

                            <div class="media-body">
                                <a href="/profile/<%= ar.username %>">
                                    <h5 class="mt-0 mb-1"> <%= ar.username %></h5>
                                </a>
                                <h5 class="mt-0 mb-1">Tiêu đề: <%= ar.tenbaiviet %></h5>
                                <div class="btn-group" style="float: right; position: relative; bottom: 60px;">
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Hoạt động đã đủ người
                                    </button>
                                   
                                </div>
                                <%  if(ar.mota.length < 250){ %>
                                <p style="color: #575757;"><%= ar.mota %> </p>
                                <%    }else{ %>
                                <p style="color: #575757;"><%= ar.mota.slice(0, 250) %> <a
                                        href="/danhba_post/<%= ar.linhvuc %>/<%= ar.ID %>"">...xem thêm</a></p>
                                <%     } %>
                                <div>
                                    <p style=" float: left;">Thời gian bắt đầu: <%= ar.time_Start %> </p>
                                    
                                <p style="float: right;">Thời gian kết thúc: <%= ar.time_End %> </p>
                            </div>
                        </div>

                    </div>

                    <!-- Example single danger button -->
                    <hr>
                    <%    } %>
                    <%  }     %>
                    <% }); %>

                    <!-- end card -->
                </div>
            </div>
        </div>
    </div>

    </div>
    <style>
        body {
            background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        }

        .emp-profile {
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            background: #fff;
        }

        .profile-img {
            text-align: center;
        }

        .profile-img img {
            width: 70%;
            height: 100%;
        }

        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
        }

        .profile-img .file input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .profile-edit-btn {
            border: none;
            border-radius: 1.5rem;
            width: 70%;
            padding: 2%;
            font-weight: 600;
            color: #6c757d;
            cursor: pointer;
        }

        .proile-rating {
            font-size: 12px;
            color: #818182;
            margin-top: 5%;
        }

        .proile-rating span {
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }

        .profile-head .nav-tabs {
            margin-bottom: 5%;
        }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

        .profile-head .nav-tabs .nav-link.active {
            border: none;
            border-bottom: 2px solid #0062cc;
        }

        .profile-work {
            padding: 14%;
            margin-top: -15%;
        }

        .profile-work p {
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            margin-top: 10%;
        }

        .profile-work a {
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }

        .profile-work ul {
            list-style: none;
        }

        .profile-tab label {
            font-weight: 600;
        }

        .profile-tab p {
            font-weight: 600;
            color: #0062cc;
        }
    </style>
    </div>


</body>

</html>