<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head %>
</head>

<body>
    <!--header--> 
    <% include ../../partials/header %>
    <!--end header-->

    <!--body-->
     <div class="container">
        <div class="row">
            <div class="col-xs- col-sm-2 col-md-2 col-lg-2">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <table class="table" style="position: relative; top: 25%;">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên Tình nguyện viên</th>
                        <th scope="col">Điểm</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <%   var sottV = 1;  %>
                       <% arr.sort((a, b) => parseFloat(b.diemTinhNguyen) - parseFloat(a.diemTinhNguyen));  %>
                      <% arr.forEach(function(ar) {  %>
                      <tr>
                        <th scope="row"><%= sottV++ %></th>
                        <td>
                          <%  if(cookie_user ){ %> 
                            <a href="profile/<%= ar.username %>"> <%= ar.fullname %></a>
                            <%  }else{ %> 
                            <span href="profile/<%= ar.username %>"> <%= ar.fullname %></span>
                            <%  } %> 
                          </td>
                        <td> <%= ar.diemTinhNguyen %></td>                       
                      </tr>
                      <%     }) %>
                    </tbody>
                  </table>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">             
            </div>
        </div>
 
     </div>
    <!--end body-->
</body>

</html>