<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head %>
</head>

<body>
    <!--header-->
    <% include ../../partials/header %>
    <!--end header-->

    <!--body-->
    <div id="mod-danh-ba-1" class="module">
        <div class="content-page">
            <!-- search menu -->
            <div class="col col-left col-xs-4">
                <div id="mod-submenu">
                    <div class="container sticky">
                       <!-- tim kiem  -->
                       <% include ../../partials/timkiem %>
                       <!-- end tim kiem -->
                    </div>
                </div>
            </div>

            <div class="col col-right col-xs-8">
                <div class="container">
                    <div id="mod-navigation">
                        <a href="trangchu.html">Trang chủ</a> <span>&gt;</span> <a>Danh bạ phi lợi nhuận</a>
                    </div>
                    <div class="box-tab">
                       
                        <div class="cont-tab">
                            <div class="content active" id="danh-ba-1">
                                <div class="list-items">
                                    <% arr2.forEach(function(item, index, array) {  %>
                                    <div class="item">
                                        <a href="/danhba_post/<%= item %>">
                                            <div class="display-table">
                                                <div class="vertical-middle">
                                                    <% var a=0 %>
                                                    <%  arr.forEach(function(ar){  %>
                                                        <%   if(ar.linhvuc == item){ %>
                                                            <%    a++; %>
                                                            <%   } %>
                                                    
                                                    <%    })  %>
                                                    <p class="quantity">  <%=  a %> </p>
                                                    <p class="text">
                                                        <%=  item %>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <%    });  %>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--end body-->
</body>
 
</html>