<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/admin-hed %>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <% include ../partials/admin-Sidebar %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column w-100">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <% include ../partials/admin-nav %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Volunteer -->
                    <div class="container">
                        <div class="row">
                            <div class="text">
                                <p><strong>Tên tài khoản:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.username %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text">
                                <p><strong>Tên Tổ chức :&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.tentochuc %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text">
                                <p><strong>Mật khẩu:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p>******</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text">
                                <p><strong>Email:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.mail %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text">
                                <p><strong>Số điện thoại:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.phone %></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="text">
                                <p><strong>Địa chỉ:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.diachi %></p>
                            </div>
                        </div>
                        <%   if(result.lock == true){ %>
                            <button type="button" class="btn btn-danger btn-icon-split" data-toggle="modal" data-target="#exampleModal221">
                                <span class="icon text-white-50">
                                    <i class="fas fa-lock"></i>
                                </span>
                                Unlock
                            </button>
                            <div class="modal fade" id="exampleModal221" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">ĐÓNG</button>
                                             
                                            <form action="/admin/unLock/accountR/<%= result.username %>" method="post">
                                                <button type="submit" class="btn btn-primary">MỞ KHÓA</button>
                                            </form>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <%  }else{ %>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#exampleModal22">
                            <span class="icon text-white-50">
                                <i class="fas fa-lock"></i>
                            </span>
                            Lock
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal22" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">ĐÓNG</button>
                                            <form action="/admin/lock/accountR/<%= result.username %>" method="post">
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-primary">kHÓA</button>
                                            </form>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <%     } %>

                </div>

                <!-- Organization -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>