<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/admin-hed %>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <% include ../partials/admin-Sidebar %> 
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <% include ../partials/admin-nav %> 
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Quản lý bài viết</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">danh sách bài viết</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID bài viết</th>
                                            <th>Tài khoản phản hồi </th>
                                            <th>tin nhắn phản hồi</th>
                                            <th>Đánh giá</th>
                                            <th>Trạng thái bài viết</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var a=0 %>
                                        <%  for(var i = 0; i< arr.length ;i++){ %>
                                            <%  for(var j = 0; j< arr[j].length ;j++){ %>
                                                <tr  >
                                                    <td><%= arr[i][j].idpost%></td>
                                                    <td><%= arr[i][j].usernameFB%></td>
                                              
                                                    <%  if(arr[i][j].phanHoi.length < 250){ %>
                                                        <td><%= arr[i][j].phanHoi%></td>
                                                        <%    }else{ %>
                                                            <td><%= arr[i][j].phanHoi.slice(0, 250)%></td>
                                                         
                                                        <%     } %>
                                                    <td><%= arr[i][j].rate%></td>
                                                    <td>
                                                        <a href="#" class="btn btn-primary btn-icon-split">
                                                            <span class="icon text-white-50">
                                                                <i class="fas fa-lock"></i>
                                                            </span>
                                                            <span class="text">Lock</span>
                                                        </a>
                                                        <a   data-toggle="modal"
                                                        data-target="#staticBackdrop" onclick="a<%= a %>()">
                                                        Xoá
                                                    </a>


                                                    <script>
                                                        function a<%= a %> () {
                                                            document.getElementById("IDpost").value = "<%= arr[i][j].idpost%>";
                                                       
                                                        }
                                                    </script>
                                                    </td>
                                                </tr>
                                                <%  a=+1 %>
                                            <%    } %>
                                        <%    } %>
                               
                                       
                                     
                                        <!-- <tr onclick="document.location = 'post.html';">
                                            <td>mua sữa</td>
                                            <td>abc</td>
                                            <td>10/2/2020 12:02:32</td>
                                            <td>13 Phan Thanh</td>
                                            <td>Phụ nữ, Chăm sóc</td>
                                            <td>
                                                <a href="#" class="btn btn-danger btn-icon-split">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-unlock-alt"></i>
                                                    </span>
                                                    <span class="text">Unlock</span>
                                                </a>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-backdrop="static"
    data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xoá bài viết này
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Không, quay
                    lại</button>

                <form method="POST" action="/postXoaBaiDangPH/xoa">
                    <input type="text" id="IDpost" value="" name="xoaIdNay"
                        style="display:none">
                    <button type="submit" class="btn btn-primary">Có, Xoá nó
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

    <% include ../partials/admin-footer %>

</body>

</html>