<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <!--header-->
  
        <!--end header-->

        <!--body-->
        <div id="mod-dangnhap" class="module">

            <div class="dangnhap">
                <!-- Người góp sức -->
                <div class="content" id="nguoigopsuc">
                    <form action="/layLaiMk/<%= gmail %>" method="post">
                    <div class="form-group">
                        <input name="mkmoi" placeholder="mật khẩu mới" class="form-control" type="password" id="exampleInputpass"
                            aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary" class="form-control"   >Lấy
                        lại mật khẩu</button>
                </div>
            </form>
                <div class="controls">
                    <h4><a href="/dangnhap">Về đăng nhập</a></h4>
                </div>
            </div> 
        </div>

</body>

</html>