<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <!--header-->
    <% include ../partials/header %>
        <!--end header-->

        <!--body-->
        <div id="mod-dangnhap" class="module">

            <div class="dangnhap">


                <!-- Người góp sức -->
                <div class="content" id="nguoigopsuc">

                    <div class="form-group">
                        <input name="mail" placeholder="Email" class="form-control" type="email" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <!-- === -->

                    <!-- ==== -->

                    <button type="submit" class="btn btn-primary" class="form-control" onclick="GoogleEmailFGpass()">Lấy
                        lại mật khẩu</button>
                </div>

                <div class="controls">
                    <h4><a href="/dangnhap">Về đăng nhập</a></h4>
                </div>
            </div>
            <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

            <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
            <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>
            <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
            <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>




            <script>
                // Your web app's Firebase configuration
                // For Firebase JS SDK v7.20.0 and later, measurementId is optional
                var firebaseConfig = {
                    apiKey: "AIzaSyCcV6iIUpKO2wNhI31Oo7vxJ75pa74KvZs",
                    authDomain: "capstone1-27ec7.firebaseapp.com",
                    databaseURL: "https://capstone1-27ec7.firebaseio.com",
                    projectId: "capstone1-27ec7",
                    storageBucket: "capstone1-27ec7.appspot.com",
                    messagingSenderId: "584348823130",
                    appId: "1:584348823130:web:be7967b13ba208a8e0b263",
                    measurementId: "G-N70X201VF1"
                };
                // Initialize Firebase
                firebase.initializeApp(firebaseConfig);
                firebase.analytics();
                GoogleEmailFGpass = () => {
                    console.log('dangchay');
                    var email = document.getElementById("exampleInputEmail1").value;
                  

                    var auth = firebase.auth();
                  

                    auth.sendPasswordResetEmail(email).then(function () {
                        // Email sent.
                    }).catch(function (error) {
                        // An error happened.
                    });
 
                }
            </script>

        </div>

</body>

</html>