<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body>   
        <!--header--> 
        <% include ../partials/header %>
        <!--end header-->

        <!--body-->
        <div id="content-info">
            <div class="profile">
                <div class="top">
                    <div class="left">
                        <div class="display-table">
                            <div class="vertical-middle">
                                <div class="img">
                                        <img src="#" alt="" class="img-responsive">
                                </div>
                                <div class="text">
                                    <span>CLB Tình Nguyện Ngọn Lửa Trái Tim</span>
                                    <div><small>Lần cuối cập nhật: 10/06/2020</small></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="button">
                            <input type="hidden" id="organizationId" value="5ee00707cc693a5d59dd6183" autocomplete="off">
                            <a class="butn" href="javascript:;">Theo dõi </a>
                            <a class="butn" onclick=""> Liên hệ </a>
                        </div>
                    </div>
                    <div class="right"> 
                        <img src="/stylesheets/assets/images/thanhnientinhnguyen.jpg" alt="" class="img-cover">
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                <div id="mod-pop-profile" class="bzPopup" style="display: none;">
                    <div class="cont-pop">
                        <div class="img">
                            <img src="/stylesheets/assets/images/thanhnientinhnguyen.jpg" alt="" class="img-cover">
                        </div>
                        <h6> Thông tin liên hệ </h6>
                        <div class="form-profile">
                            <div class="info-profile">
                                <div class="row">
                                    <div class="text">
                                        <p>
                                            Địa chỉ: &nbsp;
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            Số 315, Đường Trần Hưng Đạo, Khu Phố 1, Phường 1, TP Tây Ninh
                                        </p>    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text">
                                        <p> 
                                            Số điện thoại: &nbsp;
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            0328680614
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text">
                                        <p> 
                                            Email: &nbsp;
                                        </p>
                                    </div>
                                    <div class="info">
                                         <a href="mailto:clbtinhnguyenngonluatraitim@gmail.com">clbtinhnguyenngonluatraitim@gmail.com</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text">
                                        <p> 
                                            Website: &nbsp;
                                        </p>
                                    </div>
                                    <div class="info">
                                          <a href="http://www.facebook.com/CLBTinhNguyenNgonLuaTraiTim" class="linkified" target="_blank">www.facebook.com/CLBTinhNguyenNgonLuaTraiTim</a>
                                    </div>
                                </div>
                                  <div class="row">
                                    <div class="text">
                                        <p> 
                                            Facebook: &nbsp;
                                        </p>
                                    </div>
                                    <div class="info">
                                         <a href="http://facebook.com/CLBTinhNguyenNgonLuaTraiTim" class="linkified" target="_blank">Facebook.com/CLBTinhNguyenNgonLuaTraiTim</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">							
                        <div class="bt-left">
                            <div class="content">
                                <span class="lab-inline label-span">Số người theo dõi:</span> <span>0</span>
                                <br><br>
                                <span class="lab-inline label-span">Năm thành lập: </span><span>24/09/2017</span>
                                <br><br>
                                <span class="lab-inline label-span">Lĩnh vực: </span>
                                <span>Bảo vệ động vật, Cứu trợ nhân đạo, Cứu trợ thiên tai, Giáo dục, Lĩnh vực khuyết tật, Lĩnh vực trẻ em, Môi trường &amp; Thiên nhiên, Nghệ thuật, Văn hóa &amp; Nhân văn, Phát triển Cộng đồng, Quyền con người, Y tế sức khỏe.</span>
                                <br><br>
                                <span class="lab-inline label-span">Đối tượng thụ hưởng: </span>
                                <span>Dân tộc thiểu số, Môi trường &amp; Thiên nhiên, Nạn nhân bạo hành gia đình, Người già (trên 60 tuổi), Người khuyết tật, Người nghèo, Phụ nữ, Trẻ em.</span>
                                <br><br>
                                <span class="lab-inline label-span">Địa bàn hoạt động: </span> <br>
                                <span class="haft">Tây Ninh.</span>
                                <br><br>
                                <span class="lab-outline label-span">Giới thiệu: </span>
                                <span ng-bind-html="item.oz_about | nl2br" class="ng-binding">Với mục đích chính là chạy các Dự Án Tình Nguyện ý nghĩa dài hạn. Đối tượng mà CLB hướng đến để hỗ trợ là trẻ em, người già, người khuyết tật. CLB mong muốn và hy vọng được “Thắp Sáng Ước Mơ và Sẻ Chia Hạnh Phúc” đến tất cả những mãnh đời kém may mắn hơn chúng ta, cùng nhau vượt qua nghịch cảnh, vươn tới tương lai tươi sáng hơn.</span> <br><br>

                                <span class="lab-outline label-span">Vấn đề đang giải quyết: </span><span ng-bind-html="item.oz_problem | nl2br" class="ng-binding">Với mục đích chính là chạy các Dự Án Tình Nguyện ý nghĩa dài hạn. Đối tượng mà CLB hướng đến để hỗ trợ là trẻ em, người già, người khuyết tật. CLB mong muốn và hy vọng được “Thắp Sáng Ước Mơ và Sẻ Chia Hạnh Phúc” đến tất cả những mãnh đời kém may mắn hơn chúng ta, cùng nhau vượt qua nghịch cảnh, vươn tới tương lai tươi sáng hơn.</span><br><br>

                                <span class="lab-outline label-span">Hoạt động: </span><span ng-bind-html="item.oz_activity | nl2br" class="ng-binding">Lớp Học Nhân Ái.<br>Rạp Chiếu Phim Dạo.<br>Gian Hàng 2.000đ. <br>Chương trình Nấu Ăn.<br>Văn Nghệ, Ca Nhạc.<br>Tủ Sách Siêu Anh Hùng.<br>Người Chơi Hạnh Phúc.<br>Tiếp Sức Bệnh Nhân.<br>Dáng Hình Thanh Âm.<br>Cứu Hộ Động Vật.</span>
                                <br><br>
                                <span class="lab-outline label-span">Kết quả/Thành tích: </span><span ng-bind-html="item.oz_result | nl2br" class="ng-binding">Đã và đang  triẻn khai duy trì hoạt động các chương trình dài hạn như:<br>Lớp Học Nhân Ái.<br>Rạp Chiếu Phim Dạo.<br>Gian Hàng 2.000đ. <br>Chương trình Nấu Ăn.<br>Văn Nghệ, Ca Nhạc.<br>Bên cạnh đó là môt số chương trình thiện nguyện riêng lẻ ngắn hạn khác.</span>
                                <br><br>
                                <span class="lab-outline label-span">Chúng tôi đang ấp ủ điều gì? </span><span ng-bind-html="item.oz_wish | nl2br" class="ng-binding">Mỗi năm triển khai một dự án tình nguyện mới. và được mọi người biết đến nhiều hơn. tuyển được nhiều Leader nhất có thể.</span>
                                <br><br>

                                <div class="info-orgizination">
                                    <a class="active">Những thông tin khác về tổ chức</a>
                                    <div class="text-info" style="display: none;">
                                        <span class="lab-inline">Số nhân viên và tình nguyện viên: </span><span ng-bind-html="item.oz_member | nl2br" class="ng-binding">50 thành viên.</span>
                                        <br><br>
                                        <span class="lab-inline">Giấy phép thành lập: </span><span ng-bind-html="item.oz_license | nl2br" class="ng-binding">Số: 108-QĐ/UBH</span>
                                        <br><br>
                                        <span class="lab-inline">Ngân sách trung bình hàng năm: </span><span ng-bind-html="item.oz_budget | nl2br" class="ng-binding">Mạnh Thường Quân hỗ trợ</span>
                                        <br><br>

                                        <span class="lab-inline">Thông tin tài khoản ngân hàng: </span>
                                        <br><br>
                                        <ul class="text-info-bank">
                                            <li class="lab-inline">- Tên tài khoản: Chủ TK: Huỳnh Thị Hồng Đào.</li><br>
                                            <li class="lab-inline">- Số tài khoản: 050068271931</li><br>
                                            <li class="lab-inline">- Loại tiền của tài khoản: Sacombank Chi nhánh Hoà Thành</li><br>
                                            <li class="lab-inline">- Tên ngân hàng: Sacombank</li><br>
                                            <li class="lab-inline">- Địa chỉ ngân hàng: Sacombank Chi nhánh Hoà Thành.</li><br>
                                            <li class="lab-inline">- Số/ Mã SWIFT: </li>
                                        </ul>

                                        <img src="/stylesheets/assets/images/icon-close.png" alt="" class="iconclose">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bt-right">
                            <div class="content">
                                <span class="lab-outline label-span">Sứ mệnh của chúng tôi: </span><span ng-bind-html="item.oz_mission | nl2br" class="ng-binding">Với mục đích chính là chạy các Dự Án Tình Nguyện ý nghĩa dài hạn. Đối tượng mà CLB hướng đến để hỗ trợ là trẻ em, người già, người khuyết tật. CLB mong muốn và hy vọng được “Thắp Sáng Ước Mơ và Sẻ Chia Hạnh Phúc” đến tất cả những mãnh đời kém may mắn hơn chúng ta, cùng nhau vượt qua nghịch cảnh, vươn tới tương lai tươi sáng hơn.</span> <br><br>
                                <span class="lab-outline label-span">Tầm nhìn của chúng tôi: </span><span ng-bind-html="item.oz_outlook | nl2br" class="ng-binding">“Chúng ta không chỉ sống cho tương lai của mình. Mà chúng ta còn là chìa khoá... mở ra ước mơ của những cuộc đời khác.”</span>
                                <h1>Bạn có thể hỗ trợ<br>chúng tôi thế nào?</h1>
                                <div class="linedown"></div>
                                <a class="lab-outline" href="#">Cơ hội tình nguyện</a>
                        
                                <hr width="95%" size="5px">
                                <a class="lab-outline" href="#">Dự án cần tài trợ</a>
                                <hr width="95%" size="5px">
                            </div>
                        </div>	
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--end body-->
    </body>
</html>