<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <!--header--> 
    <% include ../partials/header %>
    <!--end header-->

    <!--body-->
    <div id="mod-danh-ba-2" class="module">
        <div class="content-page">
            <!-- search menu -->
            <div class="col col-left col-xs-4">
                <div id="mod-submenu">
                    <div class="block-content sticky">
                        <div class="container">
                            <div class="content-sub">
                                <div class="header">
                                    <h3 class="heading">Dự án cần tài trợ</h3>
                                    <p>Không gian dành cho các cá nhân, tổ chức có khả năng cũng như mong muốn đóng góp
                                        tài chính, hiện vật, hoặc mối liên hệ cho các tổ chức phi lợi nhuận.</p>
                                </div>
                                <div class="d-ng-loading ng-scope">
                                    <div class="search">
                                        <img src="/stylesheets/assets/images/icon-search-2.png" class="img-responsive">
                                        <h6>Tìm kiếm dự án cần tài trợ </h6>
                                        <p> Nhập tên tổ chức hoặc từ khóa liên quan để tìm kiếm dự án cần tài trợ</p>
                                        <div class="tim-kiem">
                                            <input type="text" name="keyword" placeholder="Tìm kiếm"
                                                class="ng-pristine ng-untouched ng-valid ng-empty">
                                        </div>
                                    </div>
                                    <div class="filter">
                                        <p> Lọc </p>
                                        <div class="form-group">
                                            <div class="name col-xs-4">
                                                <label>- Lĩnh vực</label>
                                            </div>
                                            <div class="input col-xs-8">
                                                <select class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                                    name="specialize">
                                                    <option value="" class="" selected="selected">Tất cả</option>
                                                    <option label="Kỹ năng khác"
                                                        value="string:58f432ac78be3fdeb1550cce">Kỹ năng khác</option>
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="name col-xs-4">
                                                <label>- Nhu cầu</label>
                                            </div>
                                            <div class="input col-xs-8">
                                                <select data-placeholder="Chọn Tỉnh/thành phố..."
                                                    class="form-control ng-pristine ng-untouched ng-valid ng-scope ng-empty"
                                                    name="province">
                                                    <option value="" class="" selected="selected">Tất cả</option>
                                                    <option label="Yên Bái" value="string:5881d7abe22c542a28f65d08">Yên
                                                        Bái</option>
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="button">
                                            <a class="btn search-submenu" href="javascript:;"> Tìm kiếm </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- end search menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-right col-xs-8">
                <div class="container">
                    <div id="mod-navigation">
                        <a href="/">Trang chủ</a> <span>&gt;</span> <a href="/danh-ba-phi-loi-nhuan">Danh bạ NPO</a>
                    </div>
                    <div id="danh-ba-2">
                        <div class="sub-cont">
                            <div class="title-danh-ba">
                                <h6>
                                    Các tổ chức hoạt động trong lĩnh vực Bảo vệ động vật
                                </h6>
                            </div>
                        </div>
                        <div class="list-items">
                            <div class="item">
                                <div class="img">
                                    <a href="/to-chuc/cosmosity">
                                        <img src="" alt=""
                                            class="img-responsive">
                                    </a>
                                </div>
                                <div class="text">
                                    <div>
                                        <a href="/to-chuc/cosmosity">
                                            COSMOSITY
                                        </a>
                                    </div>
                                    <div>Lần cuối cập nhật: 17/06/2019</div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="mod-pagination">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end body-->
</body>

</html>