
    <!-- popup register -->
    <div class="mfp-bg bzFromTop mfp-ready"></div>
    <div class="mfp-wrap mfp-gallery mfp-close-btn-in mfp-auto-cursor bzFromTop mfp-ready" tabindex="-1"
        style="overflow: hidden scroll;">
        <div class="mfp-container mfp-s-ready mfp-inline-holder">
            <div class="mfp-content">
                <div id="mod-popup-call-to-action" class="bzPopup">
                    <div class="pop-head">
                        <h3>Hãy cùng đồng hành với chúng tôi ngay hôm nay!</h3>
                    </div>
                    <div class="pop-content">
                        <div class="content-left">
                            <div class="img">
                                <div class="img-sub">
                                    <img src="/stylesheets/assets/images/icon-people-help.png" class="img-responsive"
                                        alt="">
                                </div>
                            </div>
                            <p>Người góp sức</p>
                            <a class="btn close-cta-popup" href="/nguoi-gop-suc/dang-ky">Đăng ký</a>
                        </div>
                        <div class="content-right">
                            <div class="img">
                                <div class="img-sub">
                                    <img src="/stylesheets/assets/images/icon-people-help2.png" class="img-responsive"
                                        alt="">
                                </div>
                            </div>
                            <p class="active">Tổ chức phi lợi nhuận</p>
                            <a class="btn close-cta-popup" href="/to-chuc/dang-ky">Đăng ký</a>
                        </div>
                    </div>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>
            </div>
            <div class="mfp-preloader">Loading...</div>
        </div>
    </div>
    <!-- end popup register -->