<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <!--header--> 
    <% include ../partials/header %>
    <!--end header-->

    <!--body-->
    <div id="mod-search-result" class="module">
        <div class="content-page">
            <!-- search menu -->
            <div class="col col-left col-xs-4">
                 
                <div id="mod-submenu">
                    <div class="block-content sticky">
                        <div class="container">
                            <div class="content-sub">
                                <div class="header">
                                    <h3 class="heading">Tìm kiếm</h3>
                                </div>
                                <div class="d-ng-loading ng-scope">
                                    <div class="search">
                                        <img src="assets/frontend/images/icon-search-2.png" class="img-responsive">
                                        <h6>Tìm kiếm dự án cần tài trợ</h6>
                                        <p> Nhập tên tổ chức hoặc từ khóa liên quan để tìm kiếm dự án cần tài trợ</p>
                                        <div class="tim-kiem">
                                            <input type="text" name="keyword" placeholder="Tìm kiếm"
                                                class="ng-pristine ng-untouched ng-valid ng-empty">
                                        </div>
                                    </div>
                                    <div class="filter">
                                        <p> Lọc </p>
                                        <div class="form-group">
                                            <div class="name col-xs-4">
                                                <label>- Lĩnh vực</label>
                                            </div>
                                            <div class="input col-xs-8">
                                                <select class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                                    name="specialize">
                                                    <option value="" class="" selected="selected">Tất cả</option>
                                                    <option label="Kỹ năng khác"
                                                        value="string:58f432ac78be3fdeb1550cce">Kỹ năng khác</option>
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="name col-xs-4">
                                                <label>- Nhu cầu</label>
                                            </div>
                                            <div class="input col-xs-8">
                                                <select data-placeholder="Chọn Tỉnh/thành phố..."
                                                    class="form-control ng-pristine ng-untouched ng-valid ng-scope ng-empty"
                                                    name="province">
                                                    <option value="" class="" selected="selected">Tất cả</option>
                                                    <option label="Yên Bái" value="string:5881d7abe22c542a28f65d08">Yên
                                                        Bái</option>
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="button">
                                            <a class="btn search-submenu" href="javascript:;"> Tìm kiếm </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- end search menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-right col-xs-8">
                <div class="container">
                    <div id="mod-navigation">
                        <a href="/">Trang chủ</a> <span>&gt;</span> <a href="/danh-ba-phi-loi-nhuan">Danh bạ phi lợi nhuận</a><span>&gt;</span> <a>Kết quả tìm kiếm</a>
                    </div>
                    <div class="content-left">
                        <div class="head-content">
                            <div class="element-select">
                                <form id="nonprofitContactFilter" method="get" action="" class="ng-pristine ng-valid">
                                    <select id="sel1" name="sort">
                                        <option value="desc" selected="true">Mới nhất</option>
                                        <option value="asc">Cũ nhất</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="add">
                            <div class="left">
                                <span>Các tổ chức phi lợi nhuận</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tên tổ chức</th>
                                        <th>Lĩnh vực phi lợi nhuận muốn góp sức</th>
                                        <th>Đối tượng phục vụ</th>
                                        <th>Địa bàn hoạt động</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="data-row">
                                        <td>
                                            <a href="javascript:;">
                                                <span class="avatar"><img src="/files/user/avatar/defaultoz.jpg" )=""
                                                        alt="" class="img-responsive "></span>
                                                <span class="haft show-desktop">
                                                    The Plasbit Campaign
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <span>
                                                Môi trường &amp; Thiên nhiên
                                            </span><br>

                                        </td>
                                        <td>
                                            <span>
                                                Môi trường &amp; Thiên nhiên
                                            </span><br>

                                        </td>
                                        <td>
                                            <span>
                                                Tp. Hồ Chí Minh <br>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="button">
                                                <button class="btn">Xem</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end body-->
</body>

</html>