<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body>
    <!--header-->
    <% include ../partials/header %>
    <!--end header-->
 
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile_Recruiter.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <style>
        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 40px;
            border: 1px solid #888;
            width: 80%;
           -webkit-transition: 1s;
            transition: 1s;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <div class="container emp-profile" style="position: relative; top: 25%;">

        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                        alt="" />
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        <%= result.tentochuc %>
                    </h5>
                    <h6>
                        <%= result.mail %>
                    </h6>
                    <p class="proile-rating">Điểm hoạt động : <span>1000</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <!-- <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Timeline</a>
                            </li> -->
                    </ul>
                </div>
            </div>
         
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
              
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                   
                    <!-- chinh sua -->
                    <form action="/profile/chinhSuaProfileR/<%= cookie %> " method="POST">
                    <div class="tab-pane fade show active"   id="chinhSuaProfile" role="tabpanel"
                        aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= result.username %></p>
                                <input type="text" name="Rusername" value="<%= result.username.trim()%>">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="Rtentochuc" value="<%= result.tentochuc.trim()%>">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="Rmail" value="<%= result.mail.trim()%>">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text"name="Rphone"  value="<%= result.phone.trim()%>">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>CMND người đại diện</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text"  name="RCMND" value="<%= result.CMND.trim()%>">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>mật khẩu</label>
                            </div>
                            <div class="col-md-6">
                                <p> <% for(var i = 0 ;i <   result.password.length  ; i++){ %>
                                    *
                                    <% } %></p>
                                <!-- <form action="/theodoi/<%= usernameNow %>" method="POST">   -->
                                <a type=" " class="btn btn-primary">Đổi mật khẩu
                                </a>
                                <!-- </form> -->
                            </div>
                        </div>
                        <!-- Trigger/Open The Modal -->
                        
                        <!-- The Modal -->
                      
                    </div>
                    <button type="submit" class="btn btn-primary" style="float :right;">tiếp tục chỉnh sửa
                    </button>
                </form>
                    <!-- end chinh sua -->
 
                </div>
            </div>
        </div>

    </div>
  

    <!------ Volunteer ---------->
</body>

</html>