<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/admin-hed %>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column w-100">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <% include ../partials/admin-nav %> 
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Volunteer -->
                    <div class="container">
                        <div class="row">
                            <div class="text">
                                <p><strong>Tên tài khoản:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.username %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text">
                                <p><strong>Họ tên:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p> <%= result.firt_name %> <%= result.last_name %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text">
                                <p><strong>Mật khẩu:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p>*********</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text">
                                <p><strong>Email:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.email %></p>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="text">
                                <p><strong>Thời gian tạo:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.username %></p>
                            </div>
                        </div> -->
                        <div class="text-center">
                            <!-- Button trigger modal -->
                           <a href="/admin/adminaccountAD/doimk"> <button type="button" class="btn btn-primary">Đổi mật khẩu</button></a>                         
                        </div>
                            <!-- <button type="button" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-lock"></i>
                                </span>
                                <span class="text">Lock</span>
                            </button>
                            <button type="button" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-unlock-alt"></i>
                                </span>
                                <span class="text">Unlock</span>
                            </button> -->
                        </div>
                    </div>

                    <!-- Organization -->
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

 
</body>

</html>