<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/admin-hed %>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Xin chào</h1>
                                    </div>
                                 <%   if(errs){ %>
                                        <div class="alert alert-danger" role="alert">
                                            <%= errs %>
                                          </div>
                                          <%  } %>
                                    <form class="user" action="/admin/login" method="post">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="exampleInputusernamel" aria-describedby="usernamelHelp"
                                                placeholder="Tài khoản" name="username">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Mật khẩu" name="password">
                                        </div>
                                         <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Đăng nhập</button>
                                        <hr>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Quên mật khẩu</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/admin/dangky">Tạo tài khoản</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>