<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/admin-hed %>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <% include ../partials/admin-Sidebar %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <% include ../partials/admin-nav %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Quản lý tài khoản tổ chức</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">danh sách tổ chức</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tài khoản</th>
                                            <th>Email</th>
                                            <th>Số điện thoại</th>
                                            <th>Địa chỉ liên hệ</th>
                                            <th>Tên tổ chức</th>
                                            <th>tình trạng tài khoản</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  arr.forEach(function(ar){ %>
                                        <tr onclick="document.location = 'accountR/<%= ar.username %>';">
                                            <td><%= ar.username %></td>
                                            <td><%= ar.mail %></td>
                                            <td><%= ar.phone %></td>
                                            <td><%= ar.diachi %></td>
                                            <td><%= ar.tentochuc %></td>
                                            <td>
                                                <%  if(ar.lock == true){  %>
                                                    <a href="#" class="btn btn-danger btn-icon-split">
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-lock"></i>
                                                        </span>
                                                        <span class="text" >Mở KH</span>
                                                    </a>
                                                    <%  }else{  %>
                                                    <a href="#" class="btn btn-primary btn-icon-split">
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-lock"></i>
                                                        </span>
                                                        <span class="text">Khoá</span>
                                                    </a>
                                                    <% } %>

                                            </td>
                                        </tr>
                                        <%    })    %>
 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    



    <% include ../partials/admin-footer %>
</body>

</html>