<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/admin-hed %>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <% include ../partials/admin-Sidebar %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper " class="d-flex flex-column w-100">

            <!-- Main Content -->
            <div id="content ">

                <!-- Topbar -->
                <% include ../partials/admin-nav %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid ">
                   
                    <div class="container ">
                        <div class="row">
                            <div class="text">
                                <p><strong>Tiêu đề:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.tenbaiviet %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text">
                                <p><strong>Tổ chức phi lợi nhuận:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.username %></p>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="text">
                                <p><strong>Thời gian đăng:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.tenbaiviet %></p>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="text">
                                <p><strong>Ngày bắt đầu:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.time_Start %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text">
                                <p><strong>Ngày kết thúc:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.time_End %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text">
                                <p><strong>Địa điểm:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.dia_diem %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text">
                                <p><strong>Đối tượng:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <p><%= result.doituong %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text">
                                <p><strong>Mô tả:&nbsp</strong></p>
                            </div>
                            <div class="info">
                                <%= result.mota %>
                            </div>
                        </div>
                        <div class="text-center">
                            <!-- <button type="button" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="text">Approve</span>
                            </button> -->
                            <%   if(result.lock == true){ %>
                                <button type="button" class="btn btn-danger btn-icon-split" data-toggle="modal" data-target="#exampleModal221">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                    Unlock
                                </button>
                                <div class="modal fade" id="exampleModal221" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn mở khoá bài viết này</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">ĐÓNG</button>
                                                 
                                                <form action="/admin/unLock/post/<%= result.ID %>" method="post">
                                                    <button type="submit" class="btn btn-primary">MỞ KHÓA</button>
                                                </form>
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
    
                            <%  }else{ %>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#exampleModal22">
                                <span class="icon text-white-50">
                                    <i class="fas fa-lock"></i>
                                </span>
                                Lock
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal22" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">bạn chắc chắn muốn khoá bài viết này</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">ĐÓNG</button>
                                                <form action="/admin/lock/post/<%= result.ID %>" method="post">
                                                    <div class="text-center">
                                                        <button type="submit" class="btn btn-primary">kHÓA</button>
                                                </form>
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <%     } %>
                        </div>
                    </div>
                    

                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white ">
                    <div class="container my-auto ">
                        <div class="copyright text-center my-auto ">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded " href="#page-top ">
            <i class="fas fa-angle-up "></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade " id="logoutModal " tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel "
            aria-hidden="true ">
            <div class="modal-dialog " role="document ">
                <div class="modal-content ">
                    <div class="modal-header ">
                        <h5 class="modal-title " id="exampleModalLabel ">Ready to Leave?</h5>
                        <button class="close " type="button " data-dismiss="modal " aria-label="Close ">
                            <span aria-hidden="true ">×</span>
                        </button>
                    </div>
                    <div class="modal-body ">Select "Logout " below if you are ready to end your current session.</div>
                    <div class="modal-footer ">
                        <button class="btn btn-secondary " type="button " data-dismiss="modal ">Cancel</button>
                        <a class="btn btn-primary " href="login.html ">Logout</a>
                    </div>
                </div>
            </div>
        </div>


</body>

</html>