<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/admin-hed %>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Tạo tài khoản nhanh</h1>
                            </div>
                          
                            <form class="user" action="/admin/register"  method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="họ" name="firt_name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="tên" name="last_name"> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="email" name="email">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="exampleInputUserName"
                                        placeholder="tài khoản" name="username">
                                </div>
                                <div class="form-group ">                                 
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputpassword" placeholder="mật khẩu" name="password">                               
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Đăng ký</button>
                                <hr>
                            </form>
                            <hr>
                          
                            <div class="text-center">
                                <a class="small" href="/admin/dangnhap">Bạn đã có tài khoản? đăng nhập nào</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
 
</body>

</html>