<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">VAC</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin/index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Bàng thống kê</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/manageaccountV">
            <i class="fas fa-fw fa-user-alt"></i>
            <span>Quản lý tài khoản tình nguyện viên</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/manageaccountR">
            <i class="fas fa-fw fa-user-alt"></i>
            <span>Quản lý tài khoản tổ chức</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/managepost">
            <i class="fas fa-fw fa-book"></i>
            <span>Quản lý bài viết</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/baocao">
            <i class="fas fa-fw fa-book"></i>
            <span>báo cáo</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>