<!-- views/partials/header.ejs -->


<div id="mod-menu" class="container-fluid">
    <div class="social-items">
        <ul class="social-share" >
            <li class="social-item social-item--facebook">
                <a href="https://www.facebook.com/leducdung149/" style="color: white; text-decoration: none;"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li  class="social-item social-item--twitter">
                <a href="https://www.facebook.com/leducdung149/" style="color: white; text-decoration: none;"> <i class="fa fa-twitter fa-2x"></i></a>
            </li>
            <li  class="social-item social-item--telegram">
                <a href="https://www.facebook.com/leducdung149/" style="color: white; text-decoration: none;"><i class="fa fa-telegram fa-2x"></i></a>
            </li>
            <li class="social-item social-item--contact">
                <a href="https://www.facebook.com/leducdung149/" style="color: white; text-decoration: none;"><i class="fa fa-wpforms fa-2x"></i></a>
            </li>
        </ul>
    </div>
    <div class="menu-items">
        <ul class="menu-list list-unstyled">
            <li class="menu-item">
                <a href="/trangchu">
                    <img src="/stylesheets/assets/images/icon-trang-chu.png" class="img-responsive" alt="">
                    <span>Trang chủ</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="/danhbaphiloinhuan">
                    <img src="/stylesheets/assets/images/icon-danh-ba.png" class="img-responsive" alt="">
                    <span>Danh bạ phi lợi nhuận</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="/danhbatinhnguyenvien">
                    <img src="/stylesheets/assets/images/icon-tinh-nguyen.png" class="img-responsive" alt="">
                    <span>Danh bạ tình nguyện viên</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="/cohoitinhnguyen">
                    <img src="/stylesheets/assets/images/icon-tinh-nguyen.png" class="img-responsive" alt="">
                    <span>Cơ hội tình nguyện</span>
                </a>
            </li>
            <!-- <li class="menu-item">
               
                <button type="button" class="  btn-primary" data-toggle="modal" data-target="#exampleModalz">
                    Chat With bot
                </button>

               


            </li> -->
        </ul>
    </div>
    <div class="filter">
        <div class="display-table">
            <div class="vertical-middle">
                <div class="search-box item">
                   <form class="form-register" action="/timKiemNguoiDung" method="post" onsubmit="myFunction()">
                            <input class="form-control" type="text" placeholder="Tìm kiếm..." type="text"
                                name="username">
                            <span class="icon-search" type="submit">
                        </form>
                        <script>
                            function myFunction() {
                                console.log("thanhcong");
                            }
                        </script> 
                </div>
                <!-- Menu chưa đăng nhập -->
                <% if(!cookie ){ %>
                <div class="login-register item" style="float: right">
                    <a class="button" href="/dangnhap">Đăng nhập</a>
                    <a class="button" href="/dangky">Đăng ký</a>
                </div>
                <% }else{ %>

                <!-- End Menu chưa đăng nhập -->
                <!-- Menu đã đăng nhập -->
                <a class="  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="font-size: 25px; position: relative; top: 15px;">
                    Cài Đặt
                </a>
                <div class="dropdown-menu">
                    <a href="/profile/<%= cookie %>" class="dropdown-item">
                        <img src="/stylesheets/assets/images/icon-sub-1.png" class="none-active" alt="">
                        <img src="/stylesheets/assets/images/icon-sub-1-active.png" class="done-active" alt="">
                        <span>Thông tin cá nhân</span>
                    </a>
                    <% if(cookie_user == "Recruiter"){ %>
                    <a href="/post_Setting" class="dropdown-item" href="#">
                        <img src="/stylesheets/assets/images/icon-sub-6.png" class="none-active" alt="">
                        <img src="/stylesheets/assets/images/icon-sub-6-active.png" class="done-active" alt="">
                        <span>Quản lý bài viết</span>
                    </a>
                    <a href="/lichsu" class="dropdown-item" href="#">
                        <img src="/stylesheets/assets/images/icon-sub-6.png" class="none-active" alt="">
                        <img src="/stylesheets/assets/images/icon-sub-6-active.png" class="done-active" alt="">
                        <span>Lịch sử</span>
                    </a>
                    <% }else { %>
                    <a href="/Volunteer_Setting" class="dropdown-item" href="#">
                        <img src="/stylesheets/assets/images/icon-sub-6.png" class="none-active" alt="">
                        <img src="/stylesheets/assets/images/icon-sub-6-active.png" class="done-active" alt="">
                        <span>Quản lý Công việc tình nguyện</span>
                    </a>
                    <% } %>




                    <div class="dropdown-divider"></div>
                    <form action="/logout" method="post">
                        <button class="dropdown-item" type="submit">
                            <img src="/stylesheets/assets/images/icon-sub-5.png" class="none-active" alt="">
                            <img src="/stylesheets/assets/images/icon-sub-5-active.png" class="done-active" alt="">
                            <span>Đăng xuất</span>
                        </button>
                    </form>
                </div>

                <div class="user item">

                    <div class="avatar">
                        <div class="img avatar">
                            <img src="/stylesheets/assets/images/defaultoz.jpg" alt="" class="img-responsive">
                        </div>

                    </div>
                </div>
                <!-- End Menu đã đăng nhập -->
                <%  } %>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalz" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:200%; right: 250px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chat BOT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0px;">

                <!-- chatbot -->
                <div class="page-content page-container" id="page-content">
                    <div class="padding">
                        <div class="row container d-flex justify-content-center"style="padding: 0px;">
                            <div class="col-md-12"  style="padding: 0px; position: relative; left: 15px;" >
                                <div class="card card-bordered">
                                    <div class="card-header">
                                        <h4 class="card-title"><strong>Chat</strong></h4> 
                                        <!-- <a class="btn btn-xs btn-secondary" href="#" data-abc="true">Let's Chat App</a> -->
                                    </div>
                                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
                                        style="overflow-y: scroll !important; height:400px !important;">
                                        <div class="media media-chat"> <img class="avatar"
                                                src="https://img.icons8.com/color/36/000000/administrator-male.png"
                                                alt="...">
                                            <div class="media-body">
                                                <p>Hi</p>
                                                <p>How are you ...???</p>
                                                <p>What are you doing tomorrow?<br> Can we come up a bar?</p>
                                                <p class="meta"><time datetime="2018">23:58</time></p>
                                            </div>
                                        </div>
                                        <div class="media media-meta-day">Today</div>
                                        <div class="media media-chat media-chat-reverse">
                                            <div class="media-body">
                                                <p>Hiii, I'm good.</p>
                                                <p>How are you doing?</p>
                                                <p>Long time no see! Tomorrow office. will be free on sunday.</p>
                                                <p class="meta"><time datetime="2018">00:06</time></p>
                                            </div>
                                        </div>
                                        <div class="media media-chat"> <img class="avatar"
                                                src="https://img.icons8.com/color/36/000000/administrator-male.png"
                                                alt="...">
                                            <div class="media-body">
                                                <p>Okay</p>
                                                <p>We will go on sunday? </p>
                                                <p class="meta"><time datetime="2018">00:07</time></p>
                                            </div>
                                        </div>
                                        <div class="media media-chat media-chat-reverse">
                                            <div class="media-body">
                                                <p>That's awesome!</p>
                                                <p>I will meet you Sandon Square sharp at 10 AM</p>
                                                <p>Is that okay?</p>
                                                <p class="meta"><time datetime="2018">00:09</time></p>
                                            </div>
                                        </div>
                                        <div class="media media-chat"> <img class="avatar"
                                                src="https://img.icons8.com/color/36/000000/administrator-male.png"
                                                alt="...">
                                            <div class="media-body">
                                                <p>Okay i will meet you on Sandon Square </p>
                                                <p class="meta"><time datetime="2018">00:10</time></p>
                                            </div>
                                        </div>
                                        <div class="media media-chat media-chat-reverse">
                                            <div class="media-body">
                                                <p>Do you have pictures of Matley Marriage?</p>
                                                <p class="meta"><time datetime="2018">00:10</time></p>
                                            </div>
                                        </div>
                                        <div class="media media-chat"> <img class="avatar"
                                                src="https://img.icons8.com/color/36/000000/administrator-male.png"
                                                alt="...">
                                            <div class="media-body">
                                                <p>Sorry I don't have. i changed my phone.</p>
                                                <p class="meta"><time datetime="2018">00:12</time></p>
                                            </div>
                                        </div>
                                        <div class="media media-chat media-chat-reverse">
                                            <div class="media-body">
                                                <p>Okay then see you on sunday!!</p>
                                                <p class="meta"><time datetime="2018">00:12</time></p>
                                            </div>
                                        </div>
                                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
                                            </div>
                                        </div>
                                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="publisher bt-1 border-light"> <img class="avatar avatar-xs"
                                            src="https://img.icons8.com/color/36/000000/administrator-male.png"
                                            alt="..."> <input class="publisher-input" type="text"
                                            placeholder="Write something"> <span class="publisher-btn file-group"> <i
                                                class="fa fa-paperclip file-browser"></i> <input type="file"> </span> <a
                                            class="publisher-btn" href="#" data-abc="true"><i
                                                class="fa fa-smile"></i></a> <a class="publisher-btn text-info" href="#"
                                            data-abc="true"><i class="fa fa-paper-plane"></i></a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .card-bordered {
                        border: 1px solid #ebebeb
                    }

                    .card {
                        border: 0;
                        border-radius: 0px;
                        margin-bottom: 30px;
                        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
                        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
                        -webkit-transition: .5s;
                        transition: .5s
                    }

                    

                    body {
                        background-color: #f9f9fa
                    }

                    .card-header:first-child {
                        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
                    }

                    .card-header {
                        display: -webkit-box;
                        display: flex;
                        -webkit-box-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: center;
                        align-items: center;
                        padding: 15px 20px;
                        background-color: transparent;
                        border-bottom: 1px solid rgba(77, 82, 89, 0.07)
                    }

                    .card-header .card-title {
                        padding: 0;
                        border: none
                    }

                    h4.card-title {
                        font-size: 17px
                    }

                    .card-header>*:last-child {
                        margin-right: 0
                    }

                    .card-header>* {
                        margin-left: 8px;
                        margin-right: 8px
                    }

                    .btn-secondary {
                        color: #4d5259 !important;
                        background-color: #e4e7ea;
                        border-color: #e4e7ea;
                        color: #fff
                    }

                    .btn-xs {
                        font-size: 11px;
                        padding: 2px 8px;
                        line-height: 18px
                    }

                    .btn-xs:hover {
                        color: #fff !important
                    }

                    .card-title {
                        font-family: Roboto, sans-serif;
                        font-weight: 300;
                        line-height: 1.5;
                        margin-bottom: 0;
                        padding: 15px 20px;
                        border-bottom: 1px solid rgba(77, 82, 89, 0.07)
                    }

                    .ps-container {
                        position: relative
                    }

                    .ps-container {
                        -ms-touch-action: auto;
                        touch-action: auto;
                        overflow: hidden !important;
                        -ms-overflow-style: none
                    }

                    .media-chat {
                        padding-right: 64px;
                        margin-bottom: 0
                    }

                    .media {
                        padding: 16px 12px;
                        -webkit-transition: background-color .2s linear;
                        transition: background-color .2s linear
                    }

                    .media .avatar {
                        flex-shrink: 0
                    }

                    .avatar {
                        position: relative;
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                        line-height: 36px;
                        text-align: center;
                        border-radius: 100%;
                        background-color: #f5f6f7;
                        color: #8b95a5;
                        text-transform: uppercase
                    }

                    .media-chat .media-body {
                        -webkit-box-flex: initial;
                        flex: initial;
                        display: table
                    }

                    .media-body {
                        min-width: 0
                    }

                    .media-chat .media-body p {
                        position: relative;
                        padding: 6px 8px;
                        margin: 4px 0;
                        background-color: #f5f6f7;
                        border-radius: 3px;
                        font-weight: 100;
                        color: #9b9b9b
                    }

                    .media>* {
                        margin: 0 8px
                    }

                    .media-chat .media-body p.meta {
                        background-color: transparent !important;
                        padding: 0;
                        opacity: .8
                    }

                    .media-meta-day {
                        -webkit-box-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: center;
                        align-items: center;
                        margin-bottom: 0;
                        color: #8b95a5;
                        opacity: .8;
                        font-weight: 400
                    }

                    .media {
                        padding: 16px 12px;
                        -webkit-transition: background-color .2s linear;
                        transition: background-color .2s linear
                    }

                    .media-meta-day::before {
                        margin-right: 16px
                    }

                    .media-meta-day::before,
                    .media-meta-day::after {
                        content: '';
                        -webkit-box-flex: 1;
                        flex: 1 1;
                        border-top: 1px solid #ebebeb
                    }

                    .media-meta-day::after {
                        content: '';
                        -webkit-box-flex: 1;
                        flex: 1 1;
                        border-top: 1px solid #ebebeb
                    }

                    .media-meta-day::after {
                        margin-left: 16px
                    }

                    .media-chat.media-chat-reverse {
                        padding-right: 12px;
                        padding-left: 64px;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: reverse;
                        flex-direction: row-reverse
                    }

                    .media-chat {
                        padding-right: 64px;
                        margin-bottom: 0
                    }

                    .media {
                        padding: 16px 12px;
                        -webkit-transition: background-color .2s linear;
                        transition: background-color .2s linear
                    }

                    .media-chat.media-chat-reverse .media-body p {
                        float: right;
                        clear: right;
                        background-color: #48b0f7;
                        color: #fff
                    }

                    .media-chat .media-body p {
                        position: relative;
                        padding: 6px 8px;
                        margin: 4px 0;
                        background-color: #f5f6f7;
                        border-radius: 3px
                    }

                    .border-light {
                        border-color: #f1f2f3 !important
                    }

                    .bt-1 {
                        border-top: 1px solid #ebebeb !important
                    }

                    .publisher {
                        position: relative;
                        display: -webkit-box;
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        padding: 12px 20px;
                        background-color: #f9fafb
                    }

                    .publisher>*:first-child {
                        margin-left: 0
                    }

                    .publisher>* {
                        margin: 0 8px
                    }

                    .publisher-input {
                        -webkit-box-flex: 1;
                        flex-grow: 1;
                        border: none;
                        outline: none !important;
                        background-color: transparent
                    }

                    button,
                    input,
                    optgroup,
                    select,
                    textarea {
                        font-family: Roboto, sans-serif;
                        font-weight: 300
                    }

                    .publisher-btn {
                        background-color: transparent;
                        border: none;
                        color: #8b95a5;
                        font-size: 16px;
                        cursor: pointer;
                        overflow: -moz-hidden-unscrollable;
                        -webkit-transition: .2s linear;
                        transition: .2s linear
                    }

                    .file-group {
                        position: relative;
                        overflow: hidden
                    }

                    .publisher-btn {
                        background-color: transparent;
                        border: none;
                        color: #cac7c7;
                        font-size: 16px;
                        cursor: pointer;
                        overflow: -moz-hidden-unscrollable;
                        -webkit-transition: .2s linear;
                        transition: .2s linear
                    }

                    .file-group input[type="file"] {
                        position: absolute;
                        opacity: 0;
                        z-index: -1;
                        width: 20px
                    }

                    .text-info {
                        color: #48b0f7 !important
                    }
                </style>
                <!-- end chat bot -->
            </div>
            
        </div>
    </div>
</div>