<div class="content-sub">
    <div class="header">
        <h3 class="heading"> </h3>
    </div>
    <div class="ng-scope">
        <div class="search">
            <img src="/stylesheets/assets/images/icon-search-2.png" class="img-responsive">
            <h6>Tìm kiếm các hoạt động </h6>
        </div>
        <div class="filter">
            <p> Lọc </p>
            <form action="/danhba_post/timkiem" method="get">
                <div class="form-group">
                    <div class="name col-xs-4">
                        <label>- Đối tượng phục vụ</label>
                    </div>
                    <div class="input col-xs-8">
                        <div class="chosen-container chosen-container-multi" title="" id="d_object_chosen">
                            <ul class="chosen-choices">
                                <li class="search-field">
                                    <input class="chosen-search-input default" type="text" name="doiTuongTG"
                                        autocomplete="off" value="Tất cả">
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="name col-xs-4">
                        <label>Địa bàn hoạt động</label>
                    </div>
                    <div class="input col-xs-8">
                        <div class="chosen-container chosen-container-multi" title="" id="d_object_chosen">
                            <ul class="chosen-choices">
                                <li class="search-field">
                                    <input class="chosen-search-input default" type="text" name="diaBanHD"
                                        autocomplete="off" value="Tất cả">
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="btn btn-danger">Tìm kiếm</button>
                </div>
            </form>
        </div>
    </div>
</div>