<!DOCTYPE html>
<html>
<% include ../partials/head %>

    <body>
        <!--header-->
        <% include ../partials/header %>
            <!--end header-->
            <% var tontai=false %>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                    <div id="mod-danh-ba-1" class="module">
                        <div class="content-page">
                            <!-- search menu -->
                            <div class="col col-left col-xs-4">
                                <div id="mod-submenu">
                                    <div class="container sticky">
                                        <!-- timkiem  -->
                                        <% include ../partials/timkiem %>
                                            <!-- end tim kiem -->
                                    </div>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="position: relative; top: 7%;">

                    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
                        id="bootstrap-css">
                    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
                    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <!------ Include the above in your HEAD tag ---------->

                    <div class="container emp-profile" style="position: relative; top: 25%;">

                        <div class="row">

                            <div class="col-md-12">
                                <div class="profile-head">

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                                role="tab" aria-controls="home" aria-selected="true">CÁC CÔNG VIỆC CÒN
                                                THIẾU NGƯỜI</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                                role="tab" aria-controls="profile" aria-selected="false">CÔNG VIỆC ĐÃ ĐỦ
                                            </a>


                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="profile-work">

                                </div>
                            </div>
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <!-- tesst -->


                                    <!-- Button trigger modal -->
                                   

                                    <!-- Modal -->
                                    
                                    <!-- tesst -->
                                    <% arr.forEach(function(ar) { %>
                                        <% if(id_Post==ar.ID) { %>
                                            <div class="media" style=" background: #eee;
                    max-width: 800px;
                    padding: 15px 20px;
                    font-size: 16px;
                    border-radius:15px">
                                                <img src="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-11.jpg"
                                                    class="mr-3" alt="..." style="width: 5%;">

                                                <div class="media-body">
                                                    <a href="/profile/<%= ar.username %>">
                                                        <h5 class="mt-0 mb-1">
                                                            <%= ar.username %>
                                                        </h5>
                                                    </a>
                                                    <h5 class="mt-0 mb-1">Tiêu đề: <%= ar.tenbaiviet %>
                                                    </h5>
                                                    <div class="btn-group"
                                                        style="float: right; position: relative; bottom: 60px;">
                                                        <button type="button" class="btn btn-danger dropdown-toggle"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            apply
                                                        </button>
                                                        <div class="dropdown-menu" st>
                                                            <a class="dropdown-item"
                                                                href="/profile/<%= ar.username %>">Xem trang cá
                                                                nhân</a>

                                                            <% arrHD.forEach(function(arHD) { %>
                                                                <% if( cookie==arHD.username && id_Post==arHD.id_Post )
                                                                    { %>
                                                                    <% tontai=true %>
                                                                        <% } %>
                                                                            <% }) %>
                                                                                <% if(tontai==true){ %>
                                                                                    <span class="dropdown-item"
                                                                                        style="background-color: #81F781;">bạn
                                                                                        đã tham gia
                                                                                        hoạt động
                                                                                        này</span>
                                                                                    <% }else{ %>
                                                                                        <% if(cookie_user=="Recruiter"
                                                                                            ){ %>
                                                                                            <span class="dropdown-item"
                                                                                                style="background-color: #81F781;">
                                                                                                Hãy là Tình nguyện viên

                                                                                            </span>
                                                                                            <% }else{ %>
                                                                                                <a class="dropdown-item"
                                                                                                    href="#"
                                                                                                    type="button"
                                                                                                    data-toggle="modal"
                                                                                                    data-target="#exampleModalLong">
                                                                                                    Tham gia hoạt động
                                                                                                </a>
                                                                                                <% } %>
                                                                                                <% } %>
                                                                                                    <!-- Button trigger modal -->
                                                                                                    <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                                                                                                    <div
                                                                                                        class="dropdown-divider">
                                                                                                    </div>
                                                                                                 
                                                                                                        <button type="button" class="dropdown-item btn btn-primary btn-lg" data-toggle="modal"
                                                                                                        data-target="#myModal">Gửi phản hồi</button>
                                                        </div>
                                                    </div>

                                                    <p style="color: #575757;">
                                                        <%= ar.mota %>
                                                    </p>

                                                    <div>
                                                        <p style="float: left;">Thời gian bắt đầu: <%= ar.time_Start %>
                                                        </p>

                                                        <p style="float: right;">Thời gian kết thúc: <%= ar.time_End
                                                                %>
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- Example single danger button -->
                                            <hr>
                                      
                                    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog"
                                        aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <form action="/feedBack/<%= linhvuc %>/<%= id_Post %>" method="POST" onsubmit="myFunction()">
                                                        <div>

                                                            <div class="rating_div">

                                                                <h4 class="title_feedback">Báo cáo bài viết </h4>

                                                                <div class="smiley" id="1">
                                                                    <span class="open" ><img
                                                                            src="http://res.cloudinary.com/dxssokt4h/image/upload/v1507184410/dead_tminl7.png" /></span>
                                                                    <span class="close"><img
                                                                            src="http://res.cloudinary.com/dxssokt4h/image/upload/v1507184409/dead-active_gcseca.png" /></span>

                                                                </div>
                                                                <div class="smiley" id="2">
                                                                    <span class="open" ><img
                                                                            src="http://res.cloudinary.com/dxssokt4h/image/upload/v1507184410/sad_il7kmb.png" /></span>
                                                                    <span class="close"><img
                                                                            src="http://res.cloudinary.com/dxssokt4h/image/upload/v1507184410/sad-active_rhibzn.png" />
                                                                </div>
                                                                <div class="smiley" id="3">
                                                                    <span class="open" ><img
                                                                            src="http://res.cloudinary.com/dxssokt4h/image/upload/v1507184410/sceptic_we1bxv.png" /></span>
                                                                    <span class="close"><img
                                                                            src="http://res.cloudinary.com/dxssokt4h/image/upload/v1507184410/sceptic-active_kez7sa.png" />
                                                                </div>
                                                                <div class="smiley" id="4">
                                                                    <span class="open"><img
                                                                            src="
                                                                    http://res.cloudinary.com/dxssokt4h/image/upload/v1507184409/more-happy_f53bgi.png" /></span>
                                                                    <span class="close"><img
                                                                            src="http://res.cloudinary.com/dxssokt4h/image/upload/v1507184409/more-happy-active_d2hget.png" />
                                                                </div>
                                                                <div class="smiley" id="5">
                                                                    <span class="open"><img
                                                                            src="http://res.cloudinary.com/dxssokt4h/image/upload/v1507184409/happy_kakekm.png" /></span>
                                                                    <span class="close"><img
                                                                            src="http://res.cloudinary.com/dxssokt4h/image/upload/v1507184409/happy-active_fs6ztw.png" />
                                                                </div>

                                                            </div>


                                                            <div class="comment_div">

                                                                <h4 class="title_feedback">Phản hồi</h4>
                                                                <input type="text" name="idpost" value="<%= ar.ID %>" style="display: none;">
                                                                <input type="text" name="rate" value="" id="rate"  style="display: none;">
                                                                <input type="text" name="usernameFB" value="<%= cookie %>"  style="display: none;" id="rate">
                                                                <textarea rows="8" name="phanHoi"></textarea>       
                                                            </div>

                                                            <div class="submit_btn">
                                                                <button type="submit"><a>Gửi báo cáo</a></button>
                                                            </div>
                                                            <script>
                                                                function myFunction() {
                                                                   var a = document.getElementsByClassName("smiley test")[0].id;
                                                                    document.getElementById("rate").value = a ;
                                                                    alert("Báo cáo bài viêt thành công");
                                                                }
                                                            </script>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                            <% } %>
                                                <% }); %>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <!-- card -->


                                    <!-- end card -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Bạn có chắc chắn muốn tham gia hoạt động tình nguyện này?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">KHông</button>

                                <form action="/thamgiahoatdong/<%= id_Post %>" method="POST">
                                    <input type="text" value="<%= id_Post %>" name="id_Post" style="display: none;">
                                    <input type="text" value="<%= cookie %>" name="username" style="display: none;">
                                    <button type="submit" class="btn btn-primary" data-toggle="modal"
                                        data-dismiss="modal112" data-target="#exampleModalLong1">Có, Tôi muốn tham gia
                                    </button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <style>
                    body {
                        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
                    }

                    .emp-profile {
                        padding: 3%;
                        margin-top: 3%;
                        margin-bottom: 3%;

                        background: #fff;
                    }

                    .profile-img {
                        text-align: center;
                    }

                    .profile-img img {
                        width: 70%;
                        height: 100%;
                    }

                    .profile-img .file {
                        position: relative;
                        overflow: hidden;
                        margin-top: -20%;
                        width: 70%;
                        border: none;
                        border-radius: 0;
                        font-size: 15px;
                        background: #212529b8;
                    }

                    .profile-img .file input {
                        position: absolute;
                        opacity: 0;
                        right: 0;
                        top: 0;
                    }

                    .profile-head h5 {
                        color: #333;
                    }

                    .profile-head h6 {
                        color: #0062cc;
                    }

                    .profile-edit-btn {
                        border: none;
                        border-radius: 1.5rem;
                        width: 70%;
                        padding: 2%;
                        font-weight: 600;
                        color: #6c757d;
                        cursor: pointer;
                    }

                    .proile-rating {
                        font-size: 12px;
                        color: #818182;
                        margin-top: 5%;
                    }

                    .proile-rating span {
                        color: #495057;
                        font-size: 15px;
                        font-weight: 600;
                    }

                    .profile-head .nav-tabs {
                        margin-bottom: 5%;
                    }

                    .profile-head .nav-tabs .nav-link {
                        font-weight: 600;
                        border: none;
                    }

                    .profile-head .nav-tabs .nav-link.active {
                        border: none;
                        border-bottom: 2px solid #0062cc;
                    }

                    .profile-work {
                        padding: 14%;
                        margin-top: -15%;
                    }

                    .profile-work p {
                        font-size: 12px;
                        color: #818182;
                        font-weight: 600;
                        margin-top: 10%;
                    }

                    .profile-work a {
                        text-decoration: none;
                        color: #495057;
                        font-weight: 600;
                        font-size: 14px;
                    }

                    .profile-work ul {
                        list-style: none;
                    }

                    .profile-tab label {
                        font-weight: 600;
                    }

                    .profile-tab p {
                        font-weight: 600;
                        color: #0062cc;
                    }

                    

                    body {

                        width: 100%;
                        height: 100%;
                        overflow-x: hidden;
                        font-weight: 400;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
                        margin: 0;
                    }

                    html {
                        width: 100%;
                        height: 100%;
                    }

                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-weight: 200;
                        padding: 0;
                        margin: 0;
                    }

                    p {
                        padding: 0;
                        margin: 0;
                    }

                    a {
                        text-decoration: none;
                        padding: 0;
                        margin: 0;
                        outline: medium none !important;
                    }

                    a:hover {
                        text-decoration: none;
                        outline: medium none !important;
                    }

                    a:focus {
                        text-decoration: none;
                        outline: medium none !important;
                    }

                    img {
                        display: inline-block;
                        vertical-align: middle;
                        max-width: 100%;
                    }

                    .clear {
                        clear: both;
                        width: 0;
                        height: 0;
                        visibility: hidden;
                        overflow: hidden;
                    }

                    .test .open {

                        display: none !important;
                    }

                    .smiley .open {
                        display: block;
                    }

                    .smiley .close {
                        display: none;
                    }

                    .test .close {
                        display: block !important;
                    }

                    /********************************************************************/

                    .feedback_container {
                        text-align: center;
                        padding: 50px;
                    }

                    .title_feedback {
                        font-size: 20;
                        font-weight: 800;
                        padding-bottom: 30px;
                    }

                    .rating_div,
                    .question {
                        margin-bottom: 80px;
                    }

                    .smiley {
                        width: 72%;
                        margin: auto;
                    }

                    .smiley span {
                        display: block;
                        float: left;
                        margin: 0 20px;
                        width: 70px;
                        height: 70px;
                        cursor: pointer;
                    }

                    .close {
                        opacity: 1 !important;
                    }

                    .question a {
                        text-align: center;
                        display: block;
                        border: 2px solid #f18700;
                        margin-bottom: 30px;
                        font-size: 18px;
                        color: #000;
                        font-weight: 800;
                        padding: 10px 0;
                    }

                    .question a:hover,
                    .question a.active_qa {
                        background: #f18700;
                        color: #fff;
                    }

                    .comment_div textarea {
                        width: 100%;
                        border: 2px solid #f18700;
                        resize: none;
                        outline: 0;
                        font-weight: 800;
                        padding: 20px;
                        font-size: 18px;
                    }

                    .submit_btn {
                        margin-top: 40px;
                    }

                    .submit_btn a {
                        display: inline-block;
                        background: #f18700;
                        color: #fff;
                        font-size: 20px;
                        font-weight: 700;
                        padding: 10px 40px;
                        text-transform: uppercase;
                    }

                    @media only screen and (max-width: 800px) {

                        .smiley {
                            width: 97%;
                        }

                        .smiley span {
                            width: 50px;
                            height: 50px;
                        }

                    }

                    @media only screen and (max-width: 640px) {

                        .feedback_container {
                            text-align: center;
                            padding: 30px;
                        }

                        .title_feedback {
                            font-size: 24px;
                        }

                        .smiley {
                            width: 100%;
                        }

                        .smiley span {
                            width: 40px;
                            height: 40px;
                            margin: 0 10px;
                        }

                    }
                </style>
                </div>


    </body>
    <script>
        $(document).ready(function () {


            $(".question a").click(function () {
                $(this).toggleClass("active_qa");
            });

            $(".smiley").click(function () {
                $(this).toggleClass("test");
                $(this).siblings().removeClass("test");


            });

        });
    </script>

</html>