<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body>
    <!--header-->
    <% include ../partials/header %>
    <!--end header-->

    <% if(cookie_userNow == "Recruiter"){ %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile_Recruiter.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <!------ Include the above in your HEAD tag ---------->
    <style>

    </style>
    <div class="container emp-profile" style="position: relative; top: 25%;">

        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                        alt="" />
                    <div class="file btn btn-lg btn-primary">
                        <%= result.username %>
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        <%= result.tentochuc %>
                    </h5>
                    <h6>
                        <%= result.mail %>
                    </h6>
                   
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <!-- <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Timeline</a>
                            </li> -->
                    </ul>
                </div>
            </div>
            <% if(cookie==usernameNow){ %>
            <div class="col-md-2">
                <button type="submit" class="profile-edit-btn" name="btnAddMore" onclick="chinhSuaProfile()"> Edit
                    Profile </button>
                <!-- <a  href="/profile/editProfileR/<%= cookie%>"  class="profile-edit-btn" name="btnAddMore" onclick="chinhSuaProfile()"> Edit
                        Profile </a> -->


                <script>
                    function chinhSuaProfile() {
                        document.getElementById("xemProfile").style.display = "none";
                        document.getElementById("chinhSuaProfile").style.display = "block";
                    }
                </script>
            </div>
            <%  }else if(cookie_userNow=="Recruiter" ) {   %>
            <div class="col-md-2">

                <!-- <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Theo Dõi" /> -->

                <!-- <form action="/theodoi/<%= usernameNow %>" method="post">
                            <button type="submit"  class="btn btn-primary"
                                class="form-control">theo dõi</button>
                        </form> -->
                <form action="/theodoi/<%= usernameNow %>" method="POST">
                    <button type="submit" class="btn btn-primary">Theo dõi
                    </button>
                </form>

            </div>

            <%  }else if(cookie_userNow=="Volunteer") {   %>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Kết bạn người này" />
            </div>
            <%  }  %>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <!-- <p>WORK LINK</p>
                        <a href="">Website Link</a><br />
                        <a href="">Bootsnipp Profile</a><br />
                        <a href="">Bootply Profile</a>
                        <p>SKILLS</p>
                        <a href="">Web Designer</a><br />
                        <a href="">Web Developer</a><br />
                        <a href="">WordPress</a><br />
                        <a href="">WooCommerce</a><br />
                        <a href="">PHP, .Net</a><br /> -->
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <!-- xem -->
                    <div class="tab-pane fade show active" id="xemProfile" role="tabpanel" style="display: block;"
                        aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= result.username %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= result.tentochuc %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= result.mail %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= result.phone %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>CMND người đại diện</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= result.CMND %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>mật khẩu</label>
                            </div>
                            <div class="col-md-6">
                                <p> <% for(var i = 0 ;i <   result.password.length  ; i++){ %>
                                    *
                                    <% } %></p>
                            </div>

                        </div>
                        <!-- Button trigger modal -->
                        
                        <% if(cookie==usernameNow){ %>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                                Đổi mật khẩu
                            </button>
                
                            <%  } %>


                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">đổi mật khẩu</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="/profile/<%= result.username %>/doimkR" method="post">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Mật khẩu cũ</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" name="mkcu">
                                         
                                            </div>
                                        </div><div class="row">
                                            <div class="col-md-3">
                                                <label>Mật khẩu mới</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" name="mkmoi">
                                            </div>
                                        </div><div class="row">
                                            <div class="col-md-3">
                                                <label>Nhập lại mật khẩu</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" name="nhaplaimk">
                                            </div>
                                        </div>
                                        
                                        <button type="submit" class="btn btn-primary">Đổi Mật Khẩu</button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Đóng</button>
                                        <button type="submit" class="btn btn-primary">Đổi Mật Khẩu</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>

                   
                    </div>
                    <!-- end xem -->
                    <!-- chinh sua -->
                    <form action="/profile/<%= cookie %>/chinhSuaProfileR " method="POST">
                        <div class="tab-pane fade show active" style="display: none;" id="chinhSuaProfile"
                            role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= result.username %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="Rtentochuc" value="<%= result.tentochuc %> ">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="Rmail" value="<%= result.mail %> ">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="Rphone" value="<%= result.phone %> ">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>CMND người đại diện</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="RCMND" value="<%= result.CMND %> ">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>mật khẩu</label>
                                </div>
                                <div class="col-md-6">
                                    <p> <% for(var i = 0 ;i <   result.password.length  ; i++){ %>
                                        *
                                        <% } %></p>
                                    <!-- <form action="/theodoi/<%= usernameNow %>" method="POST">   -->
                                    <!-- Button trigger modal -->
                                    <!-- Button trigger modal -->

                                    <!-- </form> -->
                                </div>

                            </div>
                            <!-- Trigger/Open The Modal -->
                            <!-- Button trigger modal -->

                            <span class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Chỉnh Sửa
                            </span>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có chắc chắn muốn sửa thông tin cá nhân
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" style="float :right;">tiếp tục
                                                chỉnh
                                                sửa
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
                <!-- end chinh sua -->

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <!-- <div class="row">
                                <div class="col-md-6">
                                    <label>Experience</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Expert</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Hourly Rate</label>
                                </div>
                                <div class="col-md-6">
                                    <p>10$/hr</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Total Projects</label>
                                </div>
                                <div class="col-md-6">
                                    <p>230</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>English Level</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Expert</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Availability</label>
                                </div>
                                <div class="col-md-6">
                                    <p>6 months</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Your Bio</label><br />
                                    <p>Your detail description</p>
                                </div>
                            </div> -->
                </div>
            </div>
        </div>
    </div>

    </div>
    <%   }else{ %>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container emp-profile" style="position: relative; top: 15%;">

        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                        alt="" />
                    <div class="file btn btn-lg btn-primary">
                        <%= result.username %>
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        <%= result.fullname %>
                    </h5>
                    <h6>
                        *****<%= result.mail.slice(5, 200) %>
                    </h6>
                    <p class="proile-rating">Điểm hoạt động : <span><%= result.diemTinhNguyen %></span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <!-- <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Timeline</a>
                            </li> -->
                    </ul>
                </div>
            </div>
            <% if(cookie==usernameNow){ %>
                <div class="col-md-2">
                    <button type="submit" class="profile-edit-btn" name="btnAddMore" onclick="chinhSuaProfile()"> Edit
                        Profile </button>
                    <!-- <a  href="/profile/editProfileR/<%= cookie%>"  class="profile-edit-btn" name="btnAddMore" onclick="chinhSuaProfile()"> Edit
                            Profile </a> -->
    
    
                    <script>
                        function chinhSuaProfile() {
                            document.getElementById("xemProfile").style.display = "none";
                            document.getElementById("chinhSuaProfile").style.display = "block";
                        }
                    </script>
                </div>
            <%  }  %>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <%  if(parseInt(result.diemTinhNguyen)<= 30 ){ %>
                    <img src="/stylesheets/assets/images/top3.png" alt="" srcset=""
                        style="position:relative; left: -5%;">
                    <%    } else if (parseInt(result.diemTinhNguyen)<= 80){ %>
                    <img src="/stylesheets/assets/images/top2.png" alt="" srcset=""
                        style="position:relative; left: -5%;">
                    <%      } else  { %>
                    <img src="/stylesheets/assets/images/top1.png" alt="" srcset=""
                        style="position:relative; left: 15%;">
                    <% } %>

                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <!-- xem -->
                    <div class="tab-pane fade show active" id="xemProfile" role="tabpanel" style="display: block; "role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p class="pEditProfile" style="display: block;"><%= result.username %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p class="pEditProfile" style="display: block;"><%= result.fullname %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">

                                <p class="pEditProfile" style="display: block;"> *****<%= result.mail.slice(5, 200) %>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p class="pEditProfile" style="display: block;">
                                    *****<%= result.phone.slice(5, 200)   %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Giới tinhs</label>
                            </div>
                            <div class="col-md-6">
                                <p class="pEditProfile" style="display: block;"><%= result.gender %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>mật khẩu</label>
                            </div>
                            <div class="col-md-6">
                                <p class="pEditProfile" style="display: block;">
                                    <% for(var i = 0 ;i <   result.password.length  ; i++){ %>
                                    *
                                    <% } %></p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                            Đổi mật khẩu
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">đổi mật khẩu</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="/profile/<%= result.username %>/doimkV" method="post">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Mật khẩu cũ</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" name="mkcu">
                                         
                                            </div>
                                        </div><div class="row">
                                            <div class="col-md-3">
                                                <label>Mật khẩu mới</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" name="mkmoi">
                                            </div>
                                        </div><div class="row">
                                            <div class="col-md-3">
                                                <label>Nhập lại mật khẩu</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" name="nhaplaimk">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Đóng</button>
                                        <button type="submit" class="btn btn-primary">Đổi Mật Khẩu</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end xem -->
                    <form action="/profile/<%= cookie %>/chinhSuaProfileV " method="POST">
                        <div class="tab-pane fade show active" style="display: none;" id="chinhSuaProfile"
                            role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= result.username %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Tên </label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="Vfullname" value="<%= result.fullname %> ">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="Vmail" value="<%= result.mail %> ">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Số điện thoại</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="Vphone" value="<%= result.phone %> ">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Giới tính</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="Vgender" value="<%= result.gender %> ">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>mật khẩu</label>
                                </div>
                                <div class="col-md-6">
                                    <p> <% for(var i = 0 ;i <   result.password.length  ; i++){ %>
                                        *
                                        <% } %></p>
                                    <!-- <form action="/theodoi/<%= usernameNow %>" method="POST">   -->
                                    <!-- Button trigger modal -->
                                    <!-- Button trigger modal -->

                                    <!-- </form> -->
                                </div>

                            </div>
                            
                            <!-- Trigger/Open The Modal -->
                            <!-- Button trigger modal -->

                            <span class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Chỉnh Sửa
                            </span>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có chắc chắn muốn sửa thông tin cá nhân
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" style="float :right;">tiếp tục
                                                chỉnh
                                                sửa
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <!-- <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Hourly Rate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10$/hr</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>230</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br />
                                        <p>Your detail description</p>
                                    </div>
                                </div> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile_Volunteer.css">
    <% } %>

    <!------ Volunteer ---------->
</body>

</html>