<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>

<body>
    <!-- popup register -->
    <div id="popup_register"></div>
    <!-- end popup register -->
    <!--header-->
    <!-- views/partials/header.ejs -->


    <div id="mod-menu" class="container-fluid">
        <div class="social-items">
            <ul class="social-share">
                <li class="social-item social-item--facebook">
                    <a href="https://www.facebook.com/leducdung149/" style="color: white; text-decoration: none;"><i
                            class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="social-item social-item--twitter">
                    <a href="https://www.facebook.com/leducdung149/" style="color: white; text-decoration: none;"> <i
                            class="fa fa-twitter fa-2x"></i></a>
                </li>
                <li class="social-item social-item--telegram">
                    <a href="https://www.facebook.com/leducdung149/" style="color: white; text-decoration: none;"><i
                            class="fa fa-telegram fa-2x"></i></a>
                </li>
                <li class="social-item social-item--contact">
                    <a href="https://www.facebook.com/leducdung149/" style="color: white; text-decoration: none;"><i
                            class="fa fa-wpforms fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="menu-items">
            <ul class="menu-list list-unstyled">
                <li class="menu-item">
                    <a href="/trangchu">
                        <img src="/stylesheets/assets/images/icon-trang-chu.png" class="img-responsive" alt="">
                        <span>Trang chủ</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/danhbaphiloinhuan">
                        <img src="/stylesheets/assets/images/icon-danh-ba.png" class="img-responsive" alt="">
                        <span>Danh bạ phi lợi nhuận</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/danhbatinhnguyenvien">
                        <img src="/stylesheets/assets/images/icon-tinh-nguyen.png" class="img-responsive" alt="">
                        <span>Danh bạ tình nguyện viên</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/cohoitinhnguyen">
                        <img src="/stylesheets/assets/images/icon-tinh-nguyen.png" class="img-responsive" alt="">
                        <span>Cơ hội tình nguyện</span>
                    </a>
                </li>
                <li class="menu-item">
                    <!-- Button trigger modal -->
                    <button type="button" class="  btn-primary" data-toggle="modal" data-target="#exampleModalzsddsd">
                        Chat bot
                    </button>

                    <!-- Modal -->


                </li>
            </ul>
        </div>
        <div class="filter">
            <div class="display-table">
                <div class="vertical-middle">
                    <div class="search-box item">

                        <form class="form-register" action="/timKiemNguoiDung" method="post" onsubmit="myFunction()">
                            <input class="form-control" type="text" placeholder="Tìm kiếm..." type="text"
                                name="username">
                            <span class="icon-search" type="submit">
                        </form>
                        <script>
                            function myFunction() {
                                console.log("thanhcong");
                            }
                        </script>
                    </div>


                    <!-- Menu chưa đăng nhập -->
                    <% if(!cookie ){ %>
                        <div class="login-register item" style="float: right">
                            <a class="button" href="/dangnhap">Đăng nhập</a>
                            <a class="button" href="/dangky">Đăng ký</a>
                        </div>
                        <% }else{ %>

                            <!-- End Menu chưa đăng nhập -->
                            <!-- Menu đã đăng nhập -->
                            <a class="  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" style="font-size: 25px; position: relative; top: 15px;">
                                Cài Đặt
                            </a>
                            <div class="dropdown-menu">
                                <a href="/profile/<%= cookie %>" class="dropdown-item">
                                    <img src="/stylesheets/assets/images/icon-sub-1.png" class="none-active" alt="">
                                    <img src="/stylesheets/assets/images/icon-sub-1-active.png" class="done-active"
                                        alt="">
                                    <span>Thông tin cá nhân</span>
                                </a>
                                <% if(cookie_user=="Recruiter" ){ %>
                                    <a href="/post_Setting" class="dropdown-item" href="#">
                                        <img src="/stylesheets/assets/images/icon-sub-6.png" class="none-active" alt="">
                                        <img src="/stylesheets/assets/images/icon-sub-6-active.png" class="done-active"
                                            alt="">
                                        <span>Quản lý bài viết</span>
                                    </a>
                                    <a href="/lichsu" class="dropdown-item" href="#">
                                        <img src="/stylesheets/assets/images/icon-sub-6.png" class="none-active" alt="">
                                        <img src="/stylesheets/assets/images/icon-sub-6-active.png" class="done-active"
                                            alt="">
                                        <span>Lịch sử</span>
                                    </a>
                                    <% }else { %>
                                        <a href="/Volunteer_Setting" class="dropdown-item" href="#">
                                            <img src="/stylesheets/assets/images/icon-sub-6.png" class="none-active"
                                                alt="">
                                            <img src="/stylesheets/assets/images/icon-sub-6-active.png"
                                                class="done-active" alt="">
                                            <span>Quản lý Công việc tình nguyện</span>
                                        </a>
                                        <% } %>




                                            <div class="dropdown-divider"></div>
                                            <form action="/logout" method="post">
                                                <button class="dropdown-item" type="submit">
                                                    <img src="/stylesheets/assets/images/icon-sub-5.png"
                                                        class="none-active" alt="">
                                                    <img src="/stylesheets/assets/images/icon-sub-5-active.png"
                                                        class="done-active" alt="">
                                                    <span>Đăng xuất</span>
                                                </button>
                                            </form>
                            </div>

                            <div class="user item">

                                <div class="avatar">
                                    <div class="img avatar">
                                        <img src="/stylesheets/assets/images/defaultoz.jpg" alt=""
                                            class="img-responsive">
                                    </div>

                                </div>
                            </div>
                            <!-- End Menu đã đăng nhập -->
                            <% } %>
                                <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalzsddsd" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:200%; right: 250px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nói chuyện cùng robo VAC</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding: 0px;">

                    <!-- chatbot -->
                    <div class="page-content page-container" id="page-content">
                        <div class="padding">
                            <div class="row container d-flex justify-content-center" style="padding: 0px;">
                                <div class="col-md-12" style="padding: 0px; position: relative; left: 15px;">
                                    <div class="card card-bordered">

                                        <div class="card-header">
                                            <h4 class="card-title"><strong>Hãy nói gì đi</strong></h4>
                                            <!-- <a class="btn btn-xs btn-secondary" href="#" data-abc="true">Let's Chat App</a> -->
                                        </div>

                                        <div class="chats" id="chats">
                                            <div class="clearfix"></div>

                                        </div>

                                        <!--keypad for user to type the message -->



                                        <!--bot profile-->


                                        <!-- Bot pop-up intro -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end chat bot -->
                </div>
                <div class="modal-header" style="padding: 0px;">
                    <h5 class="modal-title" id="exampleModalLabel">Chat BOT</h5>
                    <div class="keypad">
                        <textarea id="userInput" placeholder="Nhập tin nhắn..." class="usrInput"></textarea>
                        <div id="sendButton"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                    </div>
                </div>

            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/materialize.min.js"></script>

        <!--Main Script -->
        <script type="text/javascript" src="/static/js/script.js"></script>

        <!--Chart.js Script -->
        <script type="text/javascript" src="/static/js/chart.min.js"></script>
        <div id="webchat"></div>
        <script src="https://cdn.jsdelivr.net/npm/rasa-webchat/lib/index.min.js"></script>



    </div>
    <!--end header-->

    <!--body-->
    <div id="mod-home" class="module">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" style="position: absolute;">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="5000">
                    <img src="/stylesheets/assets/images/DSC03244.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-interval="2000">
                    <img src="/stylesheets/assets/images/DSC03258.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/stylesheets/assets/images/DSC03254.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="sub-cont slick-initialized">
            <div class="homepage-bg slick-slide">

                <div class="content-page">
                    <div class="container">
                        <div class="content">
                            <div class="text">
                                <div class="display-table">
                                    <div class="vertical-middle">
                                        <p class="normal">
                                            NPO trong tuần:
                                        </p>
                                        <p class="light">
                                            <a id="banner-link"
                                                href="http://www.philoinhuan.org/to-chuc/fight-for-dreams"
                                                target="_blank" tabindex="0">
                                                Fight For Dreams
                                            </a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="info vi">
                    <div class="display-table">
                        <div class="vertical-middle">
                            <div class="item">
                                <p class="number">424</p>
                                <p class="sub-text"><a href="/danh-ba-phi-loi-nhuan" target="_blank">Tổ chức phi lợi
                                        nhuận</a>
                                </p>
                                <div class="line"></div>
                            </div>
                            <div class="item">
                                <p class="number">454</p>
                                <p class="sub-text"><a href="/danh-ba-tinh-nguyen-vien" target="_blank">Tình nguyện
                                        viên</a>
                                </p>
                                <div class="line"></div>
                            </div>
                            <div class="item">
                                <p class="number">4</p>
                                <p class="sub-text"><a href="/co-hoi-tai-tro" target="_blank">Dự án cần tài trợ</a></p>
                                <div class="line"></div>
                            </div>
                            <div class="item last">
                                <p class="number">0</p>
                                <p class="sub-text"><a href="/co-hoi-tinh-nguyen" target="_blank">Cơ hội tình nguyện</a>
                                </p>
                                <div class="line"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end body-->
</body>

</html>