<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head %>
</head>

<body>
    <!--header-->
    <% include ../../partials/header %>
        <!--end header-->

        <!--body-->
        <div id="mod-dangnhap" class="module">
            <% if(errs !='' ){ %>
                <div class="alert alert-danger" role="alert">
                    Tài khoản này đã tồn tại, vui lòng đăng kí bằng tên tài khoản khác
                </div>
                <% } %>
                    <div class="dangnhap">
                        <div class="alert alert-danger" role="alert" id="demo1" style="display: none;">
                            A simple danger alert—check it oudt!
                        </div>
                        <div class="head" style=" float: left; color:red" onclick="nguoigopsuc()" id="textnguoigopsuc">

                            <h3>Người góp sức</h3>
                        </div>
                        <div class="head" style=" float: right; color:black" onclick="tochuc() " id="texttochuc">

                            <h3>Tổ chức</h3>
                        </div>

                        <!-- Người góp sức -->
                        <div class="content" style="display: block;" id="nguoigopsuc">

                            <script>
                                dangkyVVal = () => {
                                    document.getElementById("demo1").style.display = "block";
                                    var username = document.getElementById("usernameaa").value;
                                    var phone = document.getElementById("phone").value;
                                    var password = document.getElementById("password").value;
                                    var exampleInputEmail1 = document.getElementById("exampleInputEmail1").value;
                                    var fullname = document.getElementById("fullname").value;
                                    if (username.trim() == "" || phone.trim() == "" || password.trim() == "" || fullname.trim() == "" || exampleInputEmail1.trim() == "") {
                                        document.getElementById("demo1").innerHTML = "không được để trống";
                                    } else {
                                        document.getElementById("demo1").innerHTML = "hoàn tất";
                                        document.getElementById("demo1").className = "alert alert-success";
                                        document.getElementById("dangKkVal").style.display = "none";
                                        document.getElementById("dangKy").style.display = "block";
                                    }
                                }

                            </script>
                            <form class="ng-valid-email" method="POST" action="/register_V">

                                <div class="form-group">
                                    <input type="text" id="usernameaa" name="username" placeholder="username"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="number" id="phone" name="phone" placeholder="phone"
                                        class="form-control">
                                </div>
                                <div class="form-group ">
                                    <input type="password" id="password" name="password" placeholder="Mật khẩu"
                                        class="form-control">
                                    <div class="error">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="mail" placeholder="Email" class="form-control" type="email"
                                        id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <!-- === -->
                                <div class="form-group">
                                    <div class="input" class="form-control">
                                        <select name="gender" id="d_oz_sphere" name="oz_sphere"
                                            data-placeholder="--Vui lòng chọn--" class="form-control">
                                            <option value="Male">
                                                Nam
                                            </option>
                                            <option value="Female">
                                                Nữ
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <!-- ==== -->
                                <div class="form-group">
                                    <input type="text" id="fullname" name="fullname" placeholder="fullname"
                                        class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary" id="dangKy" class="form-control"
                                    style="display: none;" onclick="GoogleEmail()">Đăng
                                    ký</button>
                                <span type="submit" class="btn btn-primary" id="dangKkVal" class="form-control"
                                    style="display: block; height: 55px; width: 150px;" onclick="dangkyVVal()">Đăng
                                    ký</span>
                            </form>
                        </div>
                        <!-- Người Tổ chức -->
                        <div class="content" style="display: none;" id="tochuc">
                            <script>
                                dangkyRVal = () => {
                                    document.getElementById("demo1").style.display = "block";
                                    var username1 = document.getElementById("username1").value;
                                    var phone1 = document.getElementById("phone1").value;
                                    var password1 = document.getElementById("password1").value;
                                    var CMND1 = document.getElementById("CMND1").value;
                                    var exampleInputEmail = document.getElementById("exampleInputEmail").value;
                                    var tentochuc1 = document.getElementById("tentochuc1").value;
                                    
                                    if (username1.trim() == "" || phone1.trim() == "" || password1.trim() == "" || CMND1.trim() == "" || exampleInputEmail.trim() == "" 
                                    || tentochuc1.trim() == "") {
                                        document.getElementById("demo1").innerHTML = "không được để trống";
                                    } else {
                                        document.getElementById("demo1").innerHTML = "hoàn tất";
                                        document.getElementById("demo1").className = "alert alert-success";
                                        document.getElementById("dangKyRVal").style.display = "none";
                                        document.getElementById("dangKyR").style.display = "block";
                                    }
                                }

                            </script>
                            <form class="ng-valid-email" method="POST" action="/register_R">

                                <div class="form-group">
                                    <input type="text" id="username1" name="username" placeholder="username"
                                        class="form-control">
                                </div>
                                <div class="form-group ">
                                    <input type="password" id="password1" name="password" placeholder="Mật khẩu"
                                        class="form-control">
                                    <div class="error">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="number" id="phone1" name="phone" placeholder="phone"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="number" id="CMND1" name="CMND" placeholder="CMND" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input name="mail" placeholder="Email" class="form-control" type="email"
                                        id="exampleInputEmail" aria-describedby="emailHelp">
                                </div>
                                <!-- === -->

                                <div class="form-group">
                                    <input type="text" id="tentochuc1" name="tentochuc" placeholder="Tên Tổ chức"
                                        class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary" id="dangKyR" class="form-control"
                                style="display: none;" onclick="GoogleEmailTC()">Đăng
                                ký</button>
                            <span type="submit" class="btn btn-primary" id="dangKyRVal" class="form-control"
                                style="display: block; height: 55px; width: 150px;" onclick="dangkyRVal()">Đăng
                                ký</span>
                            </form>
                        </div>

                        <script>
                            function nguoigopsuc() {

                                document.getElementById("tochuc").style.display = "none";
                                document.getElementById("nguoigopsuc").style.display = "block";
                                document.getElementById("textnguoigopsuc").style.color = "red";
                                document.getElementById("texttochuc").style.color = "black";
                            }
                            function tochuc() {
                                document.getElementById("nguoigopsuc").style.display = "none";
                                document.getElementById("tochuc").style.display = "block";
                                document.getElementById("textnguoigopsuc").style.color = "black";
                                document.getElementById("texttochuc").style.color = "red";
                            }
                        </script>
                        <div class="controls">
                            <h4><a href="/dangnhap">Về đăng nhập</a></h4>
                        </div>
                    </div>

        </div>

        <body>

        </body>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>

        <script>
            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            var firebaseConfig = {
                apiKey: "AIzaSyCcV6iIUpKO2wNhI31Oo7vxJ75pa74KvZs",
                authDomain: "capstone1-27ec7.firebaseapp.com",
                databaseURL: "https://capstone1-27ec7.firebaseio.com",
                projectId: "capstone1-27ec7",
                storageBucket: "capstone1-27ec7.appspot.com",
                messagingSenderId: "584348823130",
                appId: "1:584348823130:web:be7967b13ba208a8e0b263",
                measurementId: "G-N70X201VF1"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
            GoogleEmail = () => {
                var email = document.getElementById("exampleInputEmail1").value;
                var password = document.getElementById("password").value;
                firebase.auth().createUserWithEmailAndPassword(email, password)
                    .then((user) => {
                        console.log(user);
                    })
                    .catch((error) => {
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        // ..
                    });
            }
            GoogleEmailTC = () => {
                var email = document.getElementById("exampleInputEmail").value;
                var password = document.getElementById("password1").value;
                firebase.auth().createUserWithEmailAndPassword(email, password)
                    .then((user) => {
                        console.log(user);
                    })
                    .catch((error) => {
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        // ..
                    });
            }

        </script>


</body>

</html>