* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%; 
}

@font-face {
    src: url('../fonts/SVN-Genica Pro.otf');
    font-family: SVNGenicaPro; 
}

body {
    margin: 0;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #67788a;
    background-color: #f2f2f2;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.col-xs-8 {
    width: 66.6666666667%;
}

.col-xs-6 {
    width: 50%;
}

a {
    color: #0d988d;
    text-decoration: none;
    background-color: transparent;
}

.chosen-container * {
    box-sizing: border-box;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.clearfix {
    clear: both;
    font-size: 0px;
    height: 0px;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.btn {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    background: #e78024;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 50px;
    outline: none;
}

.vertical-middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-4 {
    width: 33.3333333333%;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4, .h4 {
    font-size: 18px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    clip: rect(0, 0, 0, 0);
}

.chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
}

.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

select[multiple], select[size] {
    height: auto;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control {
    box-shadow: none;
    border-color: #ccc;
}

/* menu */

#mod-menu {
    height: 80px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 0;
}

#mod-menu .social-items {
    height: 100%;
    width: auto;
    float: left;
}
  
#mod-menu .social-share, #mod-menu .menu-list {
    display: flex;
    justify-content: center;
    padding: 0;
}

#mod-menu .social-item, #mod-menu .menu-item {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

#mod-menu .social-item--facebook {
    background-color: #3b5999;
}

#mod-menu .social-item--twitter {
    background-color: #55acee;
}

#mod-menu .social-item--telegram {
    background-color: #0077b5;
}

#mod-menu .social-item--contact {
    background-color: #007ee5;
}

#mod-menu .menu-items {
    width: auto;
    height: 100%;
    float: left;
}

#mod-menu .menu-items .menu-item {
    width: 100px;
    height: 80px;
    color: white;
    border-right: 1px solid #f2f2f2;
}

#mod-menu .menu-items .menu-item a {
    width: 100%;
    height: 100%;
    padding: 0px;
    font-size: 12px;
    color: #1a4790;
    font-weight: 600;
    vertical-align: middle;
    display: table-cell;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
    outline: none;
}

#mod-menu .menu-items li:hover, #mod-menu .menu-items li.active {
    background-color: #f1f1f1;
}

.active-icon {
    width: 25px !important;
    height: 25px !important;
}

#mod-menu .menu-items .menu-item a img {
    width: 20px;
    height: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#mod-menu .filter {
    float: left;
    width: auto;
    height: 100%;
    padding-left: 3%;
}

#mod-menu .filter .login-register {
    float: left;
    width: auto;
    height: 100%;
}

#mod-menu .filter .login-register .button {
    display: inline-block;  
    font-size: 18px;
    color: #1a4790;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    margin-top: 22px;
    margin-right: 10px;
    vertical-align: middle;
}

#mod-menu .filter .search-box {
    width: 190px;
    height: 40px;
    background: #f2f2f2;
    border-radius: 50px;
    position: relative;
    padding: 0 15px 0 65px;
    margin-top: 20px;
    float: left;
}

#mod-menu .filter .item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 17px;
}

#mod-menu .filter .search-box .form-register {
    margin-top: 10px;
}

#mod-menu .filter .search-box input {
    font-size: 14px;
    color: #070707;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    box-shadow: none;
}

#mod-menu .filter .search-box .icon-search {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 20px;
    margin: auto;
    display: block;
    background: url('../images/icon-search.png') center top no-repeat;
    background-size: cover;
}

#mod-menu .user > div {
    display: inline-block;
    vertical-align: middle;
}

#mod-menu .user .show-info {
    margin-right: 15px;
    margin-left: 20px;
}

#mod-menu .user .show-info .icon-bell {
    background: url('../images/bell.png') left center no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    position: relative;
}

#mod-menu .user .show-info .icon-bell .notify {
    font-size: 12px;
    line-height: 1.3;
    min-height: 13px;
    position: absolute;
    top: -5px;
    left: 16px;
    background-color: #fa3e3e;
    border-radius: 100%;
    color: #fff;
    padding: 1px 3px;
}

#mod-menu .user .show-info .icon-show {
    background: url('../images/arrow.png') center center no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: left;
}

#mod-menu .user .avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
}

#mod-menu .user .avatar img {
    width: auto;
    vertical-align: middle;
    border: 0;
}

#mod-menu .user.active .sub-info {
    display: block !important;
}

#mod-menu .sub-info {
    position: absolute;
    top: 100%;
    right: 0px;
    background: #f1f1f1;
    display: none !important;
}

#mod-menu .sub-info img {
    padding-right: 10px;
    vertical-align: middle;
}

#mod-menu .sub-info li.active a {
    background: #044395;
    color: #fff;
}

#mod-menu .sub-info li .done-active {
    display: none;
}

#mod-menu .sub-info li.active .none-active {
    display: none !important;
}

#mod-menu .sub-info li.active .done-active {
    display: inline-block !important;
}

#mod-menu .sub-info a {
    font-size: 18px;
    color: #9b9b9b;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

/* home=body */

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-initialized .slick-slide {
    display: block;
}

.module {
    padding: 80px 0 0 0;
    opacity: 1;
}

#mod-home {
    position: relative;
    height: 100%;
}

#mod-home .sub-cont {
    width: 100%;
    height: 100%;
}

#mod-home .slick-slider {
    margin-bottom: 0;
}

#mod-home .homepage-bg {
    background:   center center / cover no-repeat;
    height: 122%;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 99;
    opacity: 1;
}

#mod-home .info.vi {
    right: 5%;
    margin-top: 10px;
}

#mod-home .info {
    float: right;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
}

#mod-home .number {
    font-family: "Source Sans Pro";
    color: #fff;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    line-height: 55px;
    margin: 0px;
}

#mod-home .sub-text {
    font-family: "Source Sans Pro";
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    max-width: 100px;
}

#mod-home .sub-text a {
    color: #fff;
}

#mod-home .line {
    max-width: 40px;
    margin: 20px 0px 50px;
    height: 6px;
    background-color: #FFF;
}

.container {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#mod-home .content {
    padding: 0px 50px;
    visibility: visible;
}

#mod-home .text {
    position: absolute;
    top: 0;
    left: 7%;
    max-width: 1000px;
    height: 100%;
}

#mod-home .normal {
    text-shadow: 2px 2px #1a4790;
}

#mod-home .normal {
    line-height: 44px;
    font-family: "Source Sans Pro";
    font-size: 22px;
    color: #fff;
    font-style: normal;
    margin: 0px;
}

#mod-home .light {
    font-family: "Source Sans Pro";
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    font-style: normal;
}

#banner-link {
    font-family: "Source Sans Pro";
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    font-style: normal;
}

/* body danh ba phi loi nhuan */

.module .content-page .col {
    padding: 0px;
}

#mod-submenu {
    min-height: 1050px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #1658a3 0%, #1658a3 19%, #1658a3 33%, #194a94 78%, #194a94 100%);
}

#mod-submenu .sticky {
    position: sticky;
    top: -852px;
}

#mod-submenu .content-sub {
    padding: 0;
    margin-top: -5px;
}

#mod-submenu .content-sub .header h3 {
    font-family: "SVNGenicaPro";
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 15px;
    padding-top: 20px;
    margin-top: 0;
}

#mod-submenu .content-sub .header p {
    font-weight: 300;
    font-style: normal;
}

#mod-submenu p {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    font-style: normal;
}

#mod-submenu .content-sub .search img, #mod-submenu .content-sub .search h6 {
    display: inline-block;
    padding-bottom: 10px;
}

#mod-submenu .content-sub .search img, #mod-submenu .content-sub .search h6 {
    display: inline-block;
    padding-bottom: 10px;
}

#mod-submenu h6 {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}

#mod-submenu .content-sub .search p {
    font-style: normal;
    padding-top: 10px;
}

#mod-submenu .content-sub .search .tim-kiem {
    text-align: center;
    margin: 20px 0px;
}

#mod-submenu .content-sub .search .tim-kiem input {
    font-size: 17px;
    color: #070707;
    font-weight: 300;
    font-style: normal;
    outline: none;
    height: 40px;
    width: 100%;
    max-width: 540px;
    border: none;
    border-radius: 50px;
    padding: 0px 15px;
}

#mod-submenu .content-sub .filter {
    margin: 35px 0px 10px;
}

#mod-submenu .content-sub .filter .form-group {
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

#mod-submenu .content-sub .filter .name {
    line-height: normal;
    display: table !important;
    padding-left: 0px;
}

#mod-submenu .content-sub .filter label {
    vertical-align: middle;
    display: table-cell;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    font-style: normal;
}

#mod-submenu .content-sub .filter .input {
    width: 65%;
    height: 36px;
    margin-bottom: 10px;
    background: url('../images/img-sub.png') center center repeat-x #0465b3;
    padding: 0;
}

#mod-submenu .content-sub .filter .form-control {
    padding: 0px 10px;
    border: none;
    font-size: 15px;
    color: #fff;
    font-weight: normal;
    font-style: normal;
    background: url(../images/narrow2.png) no-repeat right center;
    cursor: pointer;
}

#mod-submenu .content-sub .filter option {
    background: #0465b3;
}

.chosen-container {
    width: 100% !important;
}

#mod-submenu .chosen-container {
    max-width: 100%;
    width: 100% !important;
}

.chosen-choices {
    border: 0px !important;
}

#mod-submenu .chosen-container-multi .chosen-choices {
    border: 0;
    background: url('../images/img-sub.png') center center repeat-x #0465b3;
}

.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    height: auto;
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: linear-gradient(#eee 1%, #fff 15%);
    cursor: text;
}

.chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 1px 0;
    padding: 0;
    height: 25px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    box-shadow: none;
    color: #999;
    font-size: 100%;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
    width: 25px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    color: white;
    padding: 0 5px;
    height: 34px;
    width: 175px;
}

.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}

.chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #3875d7;
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff;
}

#mod-submenu .content-sub .filter .button {
    text-align: center;
}

#mod-submenu .content-sub .filter .button .btn {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    height: 40px;
    outline: none;
    max-width: 540px;
    margin: 15px 0px;
    padding: 6px;
    text-transform: none;
}

#mod-navigation {
    padding: 15px 0px;
}

#mod-navigation a, #mod-navigation span {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    color: #b8b8b8;
    font-weight: 300;
    font-style: normal;
}

#mod-danh-ba-1 .list-tab a:hover, #mod-danh-ba-1 .list-tab a.active {
    color: #044395;
}

#mod-danh-ba-1 .list-tab a:first-child {
    padding-left: 0px;
}

#mod-danh-ba-1 .list-tab a {
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #b8b8b8;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
}

#mod-danh-ba-1 .list-tab span {
    font-size: 23px;
    color: #b8b8b8;
    font-weight: 600;
}

#mod-danh-ba-1 .list-tab a {
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #b8b8b8;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
}

#mod-danh-ba-1 .list-tab a.all-npo {
    color: #e98000;
}

#mod-danh-ba-1 #danh-ba-1 {
    margin-bottom: 20px;
}

#mod-danh-ba-1 .content.active {
    display: block;
}

#mod-danh-ba-1 #danh-ba-1 .list-items {
    text-align: center;
}

#mod-danh-ba-1 #danh-ba-1 .item {
    width: 148px;
    height: 148px;
    background-color: #1658a3;
    border-radius: 100%;
    display: inline-block;
    margin: 15px 15px 0px;
}

#mod-danh-ba-1 #danh-ba-1 a {
    text-decoration: none;
    outline: none;
}

#mod-danh-ba-1 .display-table {
    position: relative;
}

#mod-danh-ba-1 .display-table .quantity {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #f3a935;
}

p {
    margin: 0 0 10px;
}

#mod-danh-ba-1 #danh-ba-1 .text {
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: white;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 0px;
}

#mod-danh-ba-1 .content {
    display: none;
}

/* body danh ba tinh nguyen vien */

.volunteer-directory-info {
    margin-top: 30vh;
}

.text-center {
    text-align: center;
}

/* body co hoi tinh nguyen */

#mod-list-description {
    color: #fff;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

#mod-list-description .item, #mod-list-description .items {
    margin-bottom: 30px;
    position: relative;
    
}

.relative-lable {
    position: relative;
 
}

#mod-list-description .item-organe .inner {
    background: #1c006f;
   
}

#mod-list-description .inner {
    height: 30px;
    border-radius: 20px;
      
}

#mod-list-description .inner {
    background: #d6d9dc;
    padding: 15px;
    position: relative;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mod-list-description .inner a {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

#mod-list-description .show-a {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: block;
}

#mod-list-description h2 {
    font-size: 25px;
    color: #fff;
    font-weight: 300;
    font-style: normal;
    padding-right: 15px;
}

#mod-list-description h2, #mod-list-description h3, #mod-list-description h4 {
    text-transform: uppercase;
    margin: 0px;
}

#mod-list-description .line {
    width: 41px;
    height: 3px;
    background: #fff;
    margin: 10px 0;
}

#mod-list-description h3 {
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    font-style: normal;
}

#mod-list-description h4 {
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

#mod-list-description p strong {
    font-style: normal;
}

#mod-list-description p {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    font-style: normal;
}

/* body co hoi tai tro */

#mod-list-description .item-blue .inner {
    background: #044395;
}

/* list to chuc */

#mod-danh-ba-2 #danh-ba-2 {
    background: #fff;
    padding: 0px 35px;
}

#mod-danh-ba-2 #danh-ba-2 .sub-cont {
    position: relative;
    margin-bottom: 30px;
}

#mod-danh-ba-2 #danh-ba-2 .title-danh-ba {
    float: left;
    width: 100%;
    padding-right: 10px;
}

#mod-danh-ba-2 #danh-ba-2 .title-danh-ba h6 {
    font-family: "SVNGenicaPro";
    font-size: 28px;
    color: #044395;
    font-weight: normal;
    font-style: normal;
}

#mod-danh-ba-2 #danh-ba-2 .img {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -57px;
    width: 115px;
    border-radius: 100%;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    padding: 0px;
}

#mod-danh-ba-2 #danh-ba-2 .img img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

#mod-danh-ba-2 #danh-ba-2 .item {
    margin-top: -40px;
    float: left;
    width: 50%;
    height: 161px;
    padding-left: 130px;
    position: relative;
}

#mod-danh-ba-2 #danh-ba-2 img {
    margin: 0 auto;
}

#mod-danh-ba-2 #danh-ba-2 .text {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: table;
    text-transform: uppercase;
    max-width: 100%;
    max-height: 150px;
    padding-top: 50px;
}

#mod-danh-ba-2 #danh-ba-2 .text a, #mod-danh-ba-2 #danh-ba-2 .text p {
    font-family: "Source Sans Pro";
    font-size: 15px;
    color: #044395;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
}

#mod-submenu .content-sub .ng-scope {
    opacity: 1;
}

/* body search */

#mod-search-result .content-left .head-content .element-select {
    text-align: right;
    position: relative;
}

#mod-search-result .content-left .head-content select {
    text-align: center;
    text-align-last: center;
    display: inline-block;
    width: 235px;
    height: 50px;
    font-size: 18px;
    color: #e98000;
    font-weight: 400;
    font-style: normal;
    border: solid 2px #e98000;
    outline: none;
    border-radius: 30px;
    text-align: center;
    padding: 3px 24px 3px 3px;
    background: url('../images/icon-sort.png') right 20px center no-repeat;
}

select, select.form-control {
    appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    background-size: 16px auto;
    padding: 3px 24px 3px 3px;
}

#mod-search-result .add {
    width: 100%;
    margin-top: 40px;
    background: #044395;
    font-size: 21px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    border-radius: 15px 15px 0 0;
    padding-left: 20px;
}

#mod-search-result .add .left, #mod-search-result .add .right {
    float: left;
    width: 50%;
}

#mod-search-result .add span, #mod-search-result .add img {
    display: inline-block;
    vertical-align: middle;
    line-height: 55px;
}

.table-responsive {
    user-select: none;
    overflow-x: auto;
    min-height: 0.01%;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

#mod-search-result .table-responsive tr:nth-child(odd) {
    border-bottom: 0;
}

#mod-search-result .table-responsive tr {
    border: solid 1px #d5d5d5;
}

#mod-search-result .table-responsive td, #mod-search-result .table-responsive th {
    border: 0;
    padding: 15px 10px;
    vertical-align: middle;
    text-align: center;
}

#mod-search-result .table-responsive th {
    background: #ced8ef;
}

#mod-search-result .table-responsive tbody {
    background: #ffffff;
}

#mod-search-result .table-responsive .name {
    background-color: #f5f5f5;
    display: none;
}

#mod-search-result .table-responsive td:nth-child(1) {
    width: 25%;
}

#mod-search-result .table-responsive td:nth-child(2) {
    width: 23%;
    padding-right: 30px;
}

#mod-search-result .table-responsive td:nth-child(2) span {
    font-size: 14px;
    color: #565656;
    font-weight: normal;
    font-style: normal;
}

#mod-search-result .table-responsive td:nth-child(3) {
    width: 16%;
}

#mod-search-result .table-responsive td:nth-child(3) span {
    font-size: 14px;
    color: #565656;
    font-weight: normal;
    font-style: normal;
}

#mod-search-result .table-responsive td:nth-child(4) {
    width: 20%;
}

#mod-search-result .table-responsive td:nth-child(4) span {
    font-size: 14px;
    color: #565656;
    font-weight: normal;
    font-style: normal;
}

#mod-search-result .table-responsive td:nth-child(5) {
    vertical-align: middle;
    text-align: center;
    padding: 0;
}

#mod-search-result .table-responsive td:nth-child(1) .avatar {
    background-size: cover !important;
    padding-left: 0;
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    padding: 0px;
    width: 115px;
}

#mod-search-result .table-responsive .avatar, #mod-search-result .table-responsive .haft, #mod-search-result .table-responsive .button {
    width: 50%;
}

#mod-search-result .table-responsive td:nth-child(1) .avatar img {
    width: 115px;
    height: 115px;
    border-radius: 100%;
}

#mod-search-result .table-responsive img, #mod-search-result .table-responsive span, #mod-search-result .table-responsive .button {
    display: inline-block;
    vertical-align: middle;
}

#mod-search-result .table-responsive .button {
    margin: 0 auto;
    width: 100%;
}

/* body dang nhap */

#mod-dangnhap .dangnhap {
    max-width: 450px;
    margin: 50px auto 0;
    background-color: #FFF;
    padding: 20px 40px;
    border-radius: 10px;
}

#mod-dangnhap .pop-head {
    text-align: center;
}

#mod-dangnhap .pop-head img {
    margin: 0 auto;
}

#mod-dangnhap .pop-head h3 {
    text-transform: uppercase;
    font-family: "Source Sans Pro";
    font-size: 25px;
    color: #044395;
    font-weight: 700;
    font-style: normal;
    margin: 10px 0px;
}

#mod-dangnhap .pop-content {
    margin-top: 30px;
}

#mod-dangnhap .pop-content .form-control {
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #000;
    font-weight: 400;
    font-style: normal;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #828282;
}

#mod-dangnhap .pop-content .checkbox {
    float: left;
}

#mod-dangnhap .pop-content .checkbox label {
    padding: 0px;
}

#mod-dangnhap .pop-content span {
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #070707;
    font-weight: 400;
    font-style: normal;
}

#mod-dangnhap .pop-content .forget {
    float: right;
    margin: 8px 0px;
}

#mod-dangnhap .pop-content .forget a {
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #044395;
    font-weight: 400;
    font-style: normal;
}

.d-block-loading {
    height: 18px;
}

#mod-dangnhap .text-center .btn {
    width: 100%;
    padding: 6px;
}

.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#mod-dangnhap .pop-controls {
    text-align: right;
    margin-top: 10px;
}

#mod-dangnhap .pop-controls a:nth-child(1) {
    color: #070707;
    float: left;
}

#mod-dangnhap .pop-controls a {
    text-decoration: none;
    cursor: pointer;
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #044395;
    font-weight: 400;
    font-style: normal;
}

/* body dang ky tinh nguyen vien */

#mod-nguoi-gop-suc-01 {
    padding-bottom: 20px;
    opacity: 1;
}

#mod-nguoi-gop-suc-01 .vertical-top {
    vertical-align: top;
}

#mod-nguoi-gop-suc-01 .head {
    display: table;
    background-color: #e78024;
    color: #ffffff;
    padding: 0 10px;
    width: 100%;
    height: 40px;
}

#mod-nguoi-gop-suc-01 .head .number {
    font-weight: 700;
    width: 15px;
}

#mod-nguoi-gop-suc-01 .head span {
    display: table-cell;
    vertical-align: middle;
}

#mod-nguoi-gop-suc-01 .form-group {
    display: block;
    margin: 10px auto;
}

#mod-nguoi-gop-suc-01 .form-group .name {
    width: 42%;
}

#mod-nguoi-gop-suc-01 .form-group .name, #mod-nguoi-gop-suc-01 .form-group .input {
    display: inline-block;
}

#mod-nguoi-gop-suc-01 .form-group .name label {
    background: #f2f2f2;
    border: none;
    font-weight: 400;
}

.note {
    color: red !important;
    font-size: 14px;
}

#mod-nguoi-gop-suc-01 .form-group .input {
    width: 57%;
    position: relative;
}

#mod-nguoi-gop-suc-01 .row {
    display: block;
    width: 100%;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#mod-nguoi-gop-suc-01 .form-group input {
    width: 100%;
}

#mod-nguoi-gop-suc-01 .info-profile .input {
    vertical-align: top;
}

#mod-nguoi-gop-suc-01 .form-group .input span, #mod-nguoi-gop-suc-01 .form-group .input label {
    margin: 0 10px 0 15px;
    padding-left: 10px;
    display: inline-block;
}

#mod-nguoi-gop-suc-01 .form-group input[type="radio"], #mod-nguoi-gop-suc-01 .form-group input[type="checkbox"] {
    width: initial;
    border: none;
    outline: none;
}

label[role=radio] {
    position: relative;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
    display: inline-block;
}

#mod-nguoi-gop-suc-01 #gender {
    margin-top: 8px;
}

#mod-nguoi-gop-suc-01 .form-group select {
    color: #e78024;
    padding: 0 10px;
    outline: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    background: url('../images/icon-sort.png') right 20px center no-repeat;
}

#mod-nguoi-gop-suc-01 .form-control {
    width: initial;
}

textarea.form-control {
    height: auto;
}

#mod-nguoi-gop-suc-01 .info-profile textarea {
    width: 100%;
    resize: none;
}

#mod-nguoi-gop-suc-01 .form-group .input.third {
    width: 100%;
}

#mod-nguoi-gop-suc-01 .button {
    text-align: left;
    margin-top: 20px;
}

#mod-nguoi-gop-suc-01 .form-group .input label {
    margin: 0;
}

label[role=checkbox] {
    position: relative;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
    font-size: initial;
}

/* body dang ky tổ chức tình nguyện */


#mod-register-npo-01 {
    padding-bottom: 20px;
    opacity: 1;
}

#mod-register-npo-01 .vertical-top {
    vertical-align: top;
}

#mod-register-npo-01 .head {
    display: table;
    background-color: #e78024;
    color: #ffffff;
    padding: 0 10px;
    width: 100%;
    height: 40px;
}

#mod-register-npo-01 .head .number {
    font-weight: 700;
    width: 15px;
}

#mod-register-npo-01 .head span {
    display: table-cell;
    vertical-align: middle;
}

#mod-register-npo-01 .form-group {
    display: block;
    margin: 10px auto;
}

#mod-register-npo-01 .form-group .name {
    width: 42%;
}

#mod-register-npo-01 .form-group .name, #mod-register-npo-01 .form-group .input {
    display: inline-block;
}

#mod-register-npo-01 .form-group .name label {
    background: #f2f2f2;
    border: none;
    font-weight: 400;
}

.note {
    color: red !important;
    font-size: 14px;
}

#mod-register-npo-01 .form-group .input {
    width: 57%;
    position: relative;
}

#mod-register-npo-01 .row {
    display: block;
    width: 100%;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#mod-register-npo-01 .form-group input {
    width: 100%;
}

#mod-register-npo-01 .info-profile .input {
    vertical-align: top;
}

#mod-register-npo-01 .form-group .input span, #mod-register-npo-01 .form-group .input label {
    margin: 0 10px 0 15px;
    padding-left: 10px;
    display: inline-block;
}

#mod-register-npo-01 .form-group input[type="radio"], #mod-register-npo-01 .form-group input[type="checkbox"] {
    width: initial;
    border: none;
    outline: none;
}

label[role=radio] {
    position: relative;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
    display: inline-block;
}

#mod-register-npo-01 #gender {
    margin-top: 8px;
}

#mod-register-npo-01 .form-group select {
    color: #e78024;
    padding: 0 10px;
    outline: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    background: url('../images/icon-sort.png') right 20px center no-repeat;
}

#mod-register-npo-01 .form-control {
    width: initial;
}

textarea.form-control {
    height: auto;
}

#mod-register-npo-01 .info-profile textarea {
    width: 100%;
    resize: none;
}

#mod-register-npo-01 .form-group .input.third {
    width: 100%;
}

#mod-register-npo-01 .button {
    text-align: left;
    margin-top: 20px;
}

#mod-register-npo-01 .form-group .input label {
    margin: 0;
}

label[role=checkbox] {
    position: relative;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
    font-size: initial;
}

#mod-dashboard .content-left .form-group label span:nth-child(1) {
    margin-top: 3px;
    float: left;
}

#mod-register-npo .content-register .form-register label .number {
    margin-top: 0 !important;
    top: 3px !important;
}

#mod-dashboard .content-left .form-group label span.number {
    position: absolute;
    top: 0px;
    left: 0;
}

.form-control-sub {
    text-align: right;
}

/* popup register */

.bzFromTop.mfp-ready.mfp-bg {
    background: #000;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-bg {
    background: #000;
}

.mfp-container {
    padding-left: 12px;
    padding-right: 12px;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.bzFromTop.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.bzFromTop.mfp-bg {
    opacity: 0;
    transition: all 200ms cubic-bezier(0.2, 1, 0.3, 1);
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
}

#pop-login, #mod-popup-call-to-action {
    max-width: 515px;
    padding: 30px 50px;
    border-radius: 5%;
}

.bzPopup {
    position: relative;
    z-index: 100;
    box-shadow: 0 0 5px #ccc;
    width: auto;
    margin: 12px auto;
    background: #fff;
    border-radius: 2px;
}

#pop-login .pop-head, #mod-popup-call-to-action .pop-head {
    text-align: center;
    padding: 20px 0px;
}

.bzPopup .pop-head {
    background-color: #fff;
    padding: 10px;
    position: relative;
    text-align: center;
}

#pop-login .pop-head h3, #mod-popup-call-to-action .pop-head h3 {
    font-family: "SVNGenicaPro";
    font-size: 48px;
    color: #044395;
    font-weight: normal;
    font-style: normal;
    text-transform: inherit;
}

.bzPopup .pop-head h3 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 5px;
}

#mod-popup-call-to-action .pop-content {
    min-height: 250px;
    padding: 30px 0px;
}

.bzPopup .pop-content {
    background-color: #fff;
    padding: 15px;
    position: relative;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}


button.mfp-close {
    width: 51px;
    height: 51px;
    background: url('../images/icon-close.png') center top no-repeat;
    opacity: 1;
    top: -20px !important;
    right: -20px;
    text-indent: -9999px;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

#pop-login .pop-content .img, #mod-popup-call-to-action .pop-content .img {
    min-height: 115px;
    display: table;
    margin: 0 auto;
}

#pop-login .pop-content .img-sub, #mod-popup-call-to-action .pop-content .img-sub {
    display: table-cell;
    vertical-align: bottom;
}

#pop-login .pop-content img, #mod-popup-call-to-action .pop-content img {
    margin: 0 auto;
}

#pop-login .pop-content .content-right, #mod-popup-call-to-action .pop-content .content-right {
    float: right;
    max-width: 181px;
    min-height: 259px;
    text-align: center;
}

#pop-login .pop-content .content-left, #mod-popup-call-to-action .pop-content .content-left {
    float: left;
    max-width: 181px;
    text-align: center;
}

#dataTables-example .center .btn {
    font-size: 15px;
    padding: 10px 25px;
}