<!DOCTYPE html>
<html>
<% include ../../partials/head %>

<body>
    <!--header-->
    <% include ../../partials/header %>
    <!--end header-->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container emp-profile" style="position: relative; top: 25%;">

        <div class="row">

            <div class="col-md-12">
                <div class="profile-head">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Bài viết đã kết thúc</a>
                        </li>

                        <li class="nav-item">
                            <!-- <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false"> cot 2</a> -->


                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="profile-work">

                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"
                    >

                        <!-- <form method="POST" action="/Post_R">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Tên bài viêt</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="tên bài biết" name="tenbaiviet">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Địa điểm</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Địa điểm" name="dia_diem">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Địa bàn hoạt động</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Địa bàn họat động" name="diabanhoatdong">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Đối tượng</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="đối tượng" name="doituong">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"> Đăng ảnh</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ảnh"
                                    name="image">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"> số lượng người tham gia </label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="số lượng người tham gia" name="soluong">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"> lĩnh vực </label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Lĩnh vực" name="linhvuc">
                            </div>
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <label>Thời gian bắt đầu: </label>
                                        <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                            <input class="form-control" readonly="" type="text" name="time_Start"> <span
                                                class="input-group-addon"><i
                                                    class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <label>Thời gian kết thúc: </label>
                                        <div id="datepicker2" class="input-group date" data-date-format="dd-mm-yyyy">
                                            <input class="form-control" readonly="" type="text" name="time_End"> <span
                                                class="input-group-addon"><i
                                                    class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>



                                <style>
                                    label {
                                        margin-left: 20px;
                                    }

                                    #datepicker {
                                        width: 180px;
                                        margin: 0 20px 20px 20px;
                                    }

                                    #datepicker>span:hover {
                                        cursor: pointer;
                                    }

                                    #datepicker2 {
                                        width: 180px;
                                        margin: 0 20px 20px 20px;
                                    }

                                    #datepicker2>span:hover {
                                        cursor: pointer;
                                    }
                                </style>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $("#datepicker").datepicker({
                                        autoclose: true,
                                        todayHighlight: true
                                    }).datepicker('update', new Date());
                                });
                                $(function () {
                                    $("#datepicker2").datepicker({
                                        autoclose: true,
                                        todayHighlight: true
                                    }).datepicker('update', new Date());
                                });
                            </script>
                            <link rel="stylesheet prefetch"
                                href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
                            <script
                                src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">mô tả</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    name="mota"></textarea>
                            </div>
                           
                            <button type="submit" class="btn btn-primary" class="form-control">Đăng bài</button>
                        </form> -->

                    </div>
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" >
                        <!-- card -->
                        <%  var a=0 %>
                        <% arr.forEach(function(ar) {  %>
                        <%  if(cookie == ar.username && ar.ketthuc == true)  { %>

                        <div class="media">
                            <img src="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-11.jpg" class="mr-3"
                                alt="..." style="width: 5%;">

                            <div class="media-body">
                                <a href="/profile/<%= ar.username %>">
                                    <h5 class="mt-0 mb-1"> <%= ar.username %></h5>
                                </a>
                                <h5 class="mt-0 mb-1">Tiêu đề: <%= ar.tenbaiviet %></h5>
                                <div class="btn-group" style="float: right; position: relative; bottom: 60px;">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        apply
                                    </button>
                                    <div class="dropdown-menu" st>

                                        <!-- <a class="dropdown-item" href="/post_Setting/chinhsua/<%= ar.ID %>">Chỉnh
                                            sửa</a> -->
                                        <a   class="dropdown-item" data-toggle="modal"
                                            data-target="#staticBackdrop"  onclick="a<%= a %>()">
                                            Xoá
                                        </a>
                                       

                                        <script>
                                            function a<%= a %>() {
                                                document.getElementById("IDpost").value= "<%= ar.ID %>";
                                            }
                                        </script>
                                        <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                                        <div class="dropdown-divider"></div>
                                       

                                        <%  a=a+1 %>

                                    </div>
                                </div>
                                <%  if(ar.mota.length < 250){ %>
                                <p style="color: #575757;"><%= ar.mota %> </p>
                                <%    }else{ %>
                                <p style="color: #575757;"><%= ar.mota.slice(0, 250) %> <a
                                        href="/danhba_post/<%= ar.linhvuc %>/<%= ar.ID %>"">...xem thêm</a></p>
                                        <%     } %>
                                        <div>
                                            <p style=" float: left;">Thời gian bắt đầu: <%= ar.time_Start %> </p>
                                            
                                <p style="float: right;">Thời gian kết thúc: <%= ar.time_End %> </p>
                            </div>
                        </div>

                    </div>

                    <!-- Example single danger button -->

                    <hr>
                    <%  }     %>


                    <% }); %>
                    <!-- Button trigger modal -->


                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có chắc muốn xoá bài viết này
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không, quay
                                        lại</button>

                                    <form method="POST" action="/post_Setting/xoa">
                                        <input type="text" id="IDpost" value="" name="xoaIdNay" style="display:none">
                                        <button type="submit" class="btn btn-primary">Có, Xoá nó </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>
        </div>
    </div>

    </div>
    <style>
        body {
            background: -webkit-linear-gradient(left, rgba(255, 123, 123, 0.681), rgba(111, 71, 71, 0.55));
        }

        .emp-profile {
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            background: rgba(255, 255, 255, 0.516);
        }

        .profile-img {
            text-align: center;
        }

        .profile-img img {
            width: 70%;
            height: 100%;
        }

        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: white;
        }

        .profile-img .file input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .profile-edit-btn {
            border: none;
            border-radius: 1.5rem;
            width: 70%;
            padding: 2%;
            font-weight: 600;
            color: #6c757d;
            cursor: pointer;
        }

        .proile-rating {
            font-size: 12px;
            color: #818182;
            margin-top: 5%;
        }

        .proile-rating span {
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }

        .profile-head .nav-tabs {
            margin-bottom: 5%;
        }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

        .profile-head .nav-tabs .nav-link.active {
            border: none;
            border-bottom: 2px solid #0062cc;
        }

        .profile-work {
            padding: 14%;
            margin-top: -15%;
        }

        .profile-work p {
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            margin-top: 10%;
        }

        .profile-work a {
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }

        .profile-work ul {
            list-style: none;
        }

        .profile-tab label {
            font-weight: 600;
        }

        .profile-tab p {
            font-weight: 600;
            color: #0062cc;
        }
    </style>
</body>

</html>