<!DOCTYPE html>
<html>
<% include ../../partials/head %>

    <body>
        <!--header-->
        <% include ../../partials/header %>
            <!--end header-->

            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
                id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <!------ Include the above in your HEAD tag ---------->

            <div class="container emp-profile" style="position: relative; top: 25%;">

                <div class="row">

                    <div class="col-md-12">
                        <div class="profile-head">

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                        aria-controls="home" aria-selected="true">Bài viết đang tiến hành</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                        aria-controls="profile" aria-selected="false"> Đăng bài</a>


                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="profile-work">

                        </div>
                    </div>

                    <script>

                        function myFunction() {
                            document.getElementById("demo").style.display = "block";
                            var tenbaiviet = document.getElementById("tenbaiviet").value;
                            var dia_diem = document.getElementById("dia_diem").value;
                            var diabanhoatdong = document.getElementById("diabanhoatdong").value;
                            var doituong = document.getElementById("doituong").value;
                            var soluong = document.getElementById("soluong").value;
                            var linhvuc = document.getElementById("linhvuc").value;
                            var mota = document.getElementById("mota").value;
                            var ngayBD = document.getElementById("datepicker11").value;
                            var ngayKT = document.getElementById("datepicker22").value;
                            var dateBD = ngayBD.slice(0, 2);
                            var monthBD = ngayBD.slice(3, 5);
                            var yearBD = ngayBD.slice(6, 10);
                            var dateKT = ngayKT.slice(0, 2);
                            var monthKT = ngayKT.slice(3, 5);
                            var yearKT = ngayKT.slice(6, 10);
                            var dateHT = new Date();
                            if (tenbaiviet.trim() == "" || dia_diem.trim() == "" || diabanhoatdong.trim() == "" || doituong.trim() == "" || soluong.trim() == ""
                                || linhvuc.trim() == "" || mota.trim() == "") {
                                document.getElementById("demo").innerHTML = "không được để trống";
                            } else if (dateHT.getFullYear() > yearBD) {
                                document.getElementById("demo").innerHTML = "năm bắt đầu phải lớn hơn hoặc bằng năm hiện tại";
                            } else if (dateHT.getMonth() + 1 > monthBD) {
                                document.getElementById("demo").innerHTML = "Tháng bắt đầu phải lớn hơn hoặc bằng tháng hiện tại";
                            } else if (dateHT.getDate() > dateBD) {
                                document.getElementById("demo").innerHTML = "Ngày bắt đầu phải lớn hơn hoặc bằng ngày hiện tại";
                            } else if (yearKT < yearBD) {
                                document.getElementById("demo").innerHTML = "năm kết thúc phải lớn hơn hoặc bằng năm bắt đầu";
                            } else if (monthKT < monthBD) {
                                document.getElementById("demo").innerHTML = "tháng kết thúc phải lớn hơn hoặc bằng tháng bắt đầu";
                            } else if (dateKT < dateBD || dateKT == dateBD) {
                                document.getElementById("demo").innerHTML = "Ngày kết thúc phải lớn hơn  ngày bắt đầu";
                            } else {

                                var getHours = dateHT.getHours(); // => 9
                                var getMinutes = dateHT.getMinutes(); // =>  30
                                var getSeconds = dateHT.getSeconds(); // => 51
                                var GHT = ngayBD + " " + getHours + ":" + getMinutes + ":" + getSeconds
                                document.getElementById("datepicker11").value = GHT;
                                document.getElementById("demo").innerHTML = "hoàn tẩt";
                                document.getElementById("demo").className = "alert alert-success";
                                document.getElementById("valdangbai").style.display = "none";
                                document.getElementById("dangbai").style.display = "block";
                            }
                        }
                        function myFunctionSubmit() {
                            alert("Đăng bài thành công!");
                        }
                        $(function () {
                            $("#datepicker").datepicker({
                                autoclose: true,
                                todayHighlight: true
                            }).datepicker('update', new Date());
                        });
                        $(function () {
                            $("#datepicker2").datepicker({
                                autoclose: true,
                                todayHighlight: true
                            }).datepicker('update', new Date());
                        });
                    </script>

                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


                                <div class="alert alert-danger" role="alert" id="demo" style="display:none">
                                    A simple danger alert—check it out!
                                </div>
                                <form method="POST" action="/Post_R" onsubmit="myFunctionSubmit()">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Tên bài viêt</label>
                                        <input type="text" class="form-control" name="tenbaiviet"
                                            placeholder="tên bài biết" id="tenbaiviet">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Địa điểm</label>
                                        <input type="text" class="form-control" id="dia_diem" placeholder="Địa điểm"
                                            name="dia_diem">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Địa bàn hoạt động</label>
                                        <input type="text" class="form-control" id="diabanhoatdong"
                                            placeholder="Địa bàn họat động" name="diabanhoatdong">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Đối tượng</label>
                                        <input type="text" class="form-control" id="doituong" placeholder="đối tượng"
                                            name="doituong">
                                    </div>
                                    <div class="form-group" style="display: none;">
                                        <label for="exampleFormControlInput1"> Đăng ảnh</label>
                                        <input type="text" class="form-control" id="image" placeholder="ảnh"
                                            name="image" value="none">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1"> số lượng người tham gia </label>
                                        <input type="number" class="form-control" id="soluong"
                                            placeholder="số lượng người tham gia" name="soluong">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1"> lĩnh vực </label>
                                        <input type="text" class="form-control" id="linhvuc" placeholder="Lĩnh vực"
                                            name="linhvuc">
                                    </div>
                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <label>Thời gian bắt đầu: </label>
                                                <div id="datepicker" class="input-group date"
                                                    data-date-format="dd-mm-yyyy">
                                                    <input class="form-control" readonly="" type="text"
                                                        name="time_Start" id="datepicker11"> <span
                                                        class="input-group-addon"><i
                                                            class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <label>Thời gian kết thúc: </label>
                                                <div id="datepicker2" class="input-group date"
                                                    data-date-format="dd-mm-yyyy">
                                                    <input class="form-control" readonly="" type="text" name="time_End"
                                                        id="datepicker22">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>



                                        <style>
                                            label {
                                                margin-left: 20px;
                                            }

                                            #datepicker {
                                                width: 180px;
                                                margin: 0 20px 20px 20px;
                                            }

                                            #datepicker>span:hover {
                                                cursor: pointer;
                                            }

                                            #datepicker2 {
                                                width: 180px;
                                                margin: 0 20px 20px 20px;
                                            }

                                            #datepicker2>span:hover {
                                                cursor: pointer;
                                            }
                                        </style>
                                    </div>

                                    <link rel="stylesheet prefetch"
                                        href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
                                    <script
                                        src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">mô tả</label>
                                        <textarea class="form-control" id="mota" rows="3" value=""
                                            name="mota"></textarea>
                                    </div>
                                    <!-- <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Đăng bài " /> -->
                                    <button type="submit" class="btn btn-primary" class="form-control" id="dangbai"
                                        style="display: none;"> Đăng bài</button>
                                    <span class="btn btn-primary" class="form-control" onclick="myFunction()"
                                        id="valdangbai" style="display: block; width: 110px;">Đăng bài</span>

                                </form>

                            </div>
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <!-- card -->
                                <% var a=0 %>
                                    <% arr.forEach(function(ar) { %>
                                        <% if(cookie==ar.username  && ar.ketthuc == false) { %>
                                            <div class="media">
                                                <img src="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-11.jpg"
                                                    class="mr-3" alt="..." style="width: 5%;">

                                                <div class="media-body">
                                                    <a href="/profile/<%= ar.username %>">
                                                        <h5 class="mt-0 mb-1">
                                                            <%= ar.username %>
                                                        </h5>
                                                    </a>
                                                    <h5 class="mt-0 mb-1">Tiêu đề: <%= ar.tenbaiviet %>
                                                    </h5>
                                                    <div class="btn-group"
                                                        style="float: right; position: relative; bottom: 60px;">
                                                        <button type="button" class="btn btn-danger dropdown-toggle"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            apply
                                                        </button>
                                                        <div class="dropdown-menu" st>

                                                            <a class="dropdown-item"
                                                                href="/post_Setting/chinhsua/<%= ar.ID %>">Chỉnh
                                                                sửa</a>
                                                            <a class="dropdown-item"
                                                                href="/post_Setting/ketthuchoatdong/<%= ar.ID %>"
                                                                onclick="a<%= a %>()" data-toggle="modal"
                                                                data-target="#exampleModal11111">Kết
                                                                thúc hoạt động này</a>

                                                            <a class="dropdown-item" data-toggle="modal"
                                                                data-target="#staticBackdrop" onclick="a<%= a %>()">
                                                                Xoá
                                                            </a>


                                                            <script>
                                                                function a<%= a %> () {
                                                                    document.getElementById("IDpost").value = "<%= ar.ID %>";
                                                                    document.getElementById("IDpostkt").value = "<%= ar.ID %>";
                                                                }
                                                            </script>
                                                            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item"
                                                                href="/post_Setting/<%= ar.ID %>">chi tiết về việc tình
                                                                nguyện này</a>

                                                            <% a=a+1 %>

                                                        </div>
                                                    </div>
                                                    <% if(ar.mota.length < 250){ %>
                                                        <p style="color: #575757;">
                                                            <%= ar.mota %>
                                                        </p>
                                                        <% }else{ %>
                                                            <p style="color: #575757;">
                                                                <%= ar.mota.slice(0, 250) %> <a
                                                                        href="/danhba_post/<%= ar.linhvuc %>/<%= ar.ID %>"">...xem thêm</a></p>
                                        <%     } %>
                                        <div>
                                            <p style=" float: left;">Thời gian bắt đầu: <%= ar.time_Start %>
                                                            </p>

                                                            <p style="float: right;">Thời gian kết thúc: <%= ar.time_End
                                                                    %>
                                                            </p>
                                                </div>
                                            </div>

                            </div>

                            <!-- Example single danger button -->

                            <hr>
                            <% } %>


                                <% }); %>
                                    <!-- Button trigger modal -->


                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-backdrop="static"
                                        data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Bạn có chắc muốn xoá bài viết này
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Không, quay
                                                        lại</button>

                                                    <form method="POST" action="/post_Setting/xoa">
                                                        <input type="text" id="IDpost" value="" name="xoaIdNay"
                                                            style="display:none">
                                                        <button type="submit" class="btn btn-primary">Có, Xoá nó
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                    <!-- Button trigger modal -->


                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal11111" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Bạn muốn kết thúc
                                                        hoạt động tình nguyện này?</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Không quay lại</button>
                                                    <form method="POST" action="/post_Setting/kthoatdong"
                                                        onsubmit="myFunctionKTHD()">
                                                        <input type="text" id="IDpostkt" value="" name="ktIdNay"
                                                            style="display: none;">
                                                        <button type="submit" class="btn btn-primary">Kết thúc</button>
                                                    </form>
                                                    <script>
                                                        function myFunctionKTHD() {
                                                            alert("kết thúc hoạt động thành công");
                                                        }
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <style>
                body {
                    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
                }

                .emp-profile {
                    padding: 3%;
                    margin-top: 3%;
                    margin-bottom: 3%;
                    border-radius: 0.5rem;
                    background: #fff;
                }

                .profile-img {
                    text-align: center;
                }

                .profile-img img {
                    width: 70%;
                    height: 100%;
                }

                .profile-img .file {
                    position: relative;
                    overflow: hidden;
                    margin-top: -20%;
                    width: 70%;
                    border: none;
                    border-radius: 0;
                    font-size: 15px;
                    background: #212529b8;
                }

                .profile-img .file input {
                    position: absolute;
                    opacity: 0;
                    right: 0;
                    top: 0;
                }

                .profile-head h5 {
                    color: #333;
                }

                .profile-head h6 {
                    color: #0062cc;
                }

                .profile-edit-btn {
                    border: none;
                    border-radius: 1.5rem;
                    width: 70%;
                    padding: 2%;
                    font-weight: 600;
                    color: #6c757d;
                    cursor: pointer;
                }

                .proile-rating {
                    font-size: 12px;
                    color: #818182;
                    margin-top: 5%;
                }

                .proile-rating span {
                    color: #495057;
                    font-size: 15px;
                    font-weight: 600;
                }

                .profile-head .nav-tabs {
                    margin-bottom: 5%;
                }

                .profile-head .nav-tabs .nav-link {
                    font-weight: 600;
                    border: none;
                }

                .profile-head .nav-tabs .nav-link.active {
                    border: none;
                    border-bottom: 2px solid #0062cc;
                }

                .profile-work {
                    padding: 14%;
                    margin-top: -15%;
                }

                .profile-work p {
                    font-size: 12px;
                    color: #818182;
                    font-weight: 600;
                    margin-top: 10%;
                }

                .profile-work a {
                    text-decoration: none;
                    color: #495057;
                    font-weight: 600;
                    font-size: 14px;
                }

                .profile-work ul {
                    list-style: none;
                }

                .profile-tab label {
                    font-weight: 600;
                }

                .profile-tab p {
                    font-weight: 600;
                    color: #0062cc;
                }
            </style>
    </body>

</html>