<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head %>
</head>

<body>
    <!--header-->
    <% include ../../partials/header %>
    <!--end header-->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container emp-profile" style="position: relative; top: 15%;">

        <div class="row">

            <div class="col-md-12">
                <div class="profile-head">
                    <h5>

                    </h5>
                    <h6>

                    </h6>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Hoạt động đang tham gia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Hoạt động đã tham gia</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <!-- Hoạt động đang tham gia -->
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <%   var index=0, IDxoa %>
                        <% arr.forEach(function(ar) {  %>
                        <%   for (let objectKey in ar.hoatdong) {  %>
                        <%    if(objectKey == cookie && ar.ketthuc == false){  %>
                        <div class="media" style=" background: #eee;
                                max-width: 800px;
                                padding: 15px 20px;
                                font-size: 16px;
                                border-radius:15px">
                            <img src="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-11.jpg" class="mr-3"
                                alt="..." style="width: 5%;">

                            <div class="media-body">
                                <a href="/profile/<%= ar.username %>">
                                    <h5 class="mt-0 mb-1"> <%= ar.username %></h5>
                                </a>
                                <h5 class="mt-0 mb-1">Tiêu đề: <%= ar.tenbaiviet %></h5>
                                <div class="btn-group" style="float: right; position: relative; bottom: 60px;">
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        apply
                                    </button>
                                    <div class="dropdown-menu" st>
                                        <% if(!cookie){ %>
                                        <a class="dropdown-item" href="#">Bạn cần đăng nhập đẻ thao tác với bài viết này
                                        </a>
                                        <% }else{ %>
                                        <a class="dropdown-item" href="/profile/<%= ar.username %>">Xem trang cá
                                            nhân</a>
                                        <a class="dropdown-item" href="/danhba_post/<%= ar.linhvuc %>/<%= ar.ID %>">Xem
                                            chi tiết bài viết này</a>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-success" data-toggle="modal"
                                            data-target="#exampleModal" id="<%= ar.ID %>" value="<%= ar.ID %>" onclick="xoa<%= index %>()">
                                            Huỷ tham gia hoạt động này
                                        </button>
                                        <!-- Modal -->
                                        <script>
                                            function xoa<%= index %>() {
                                                var IDxoa= document.getElementById("<%= ar.ID %>").value;
                                                
                                                document.getElementById("IDxoaNhap").value = IDxoa
                                            }
                                        </script>
                                        <% index++ %>
                                        <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">báo cáo bài viết</a>
                                        <%  } %>
                                    </div>
                                </div>
                                <%  if(ar.mota.length < 250){ %>
                                <p style="color: #575757;"><%= ar.mota %> </p>
                                <%    }else{ %>
                                <p style="color: #575757;"><%= ar.mota.slice(0, 250) %> <a
                                        href="/danhba_post/<%= ar.linhvuc %>/<%= ar.ID %>"">...xem thêm</a></p>
                                            <%     } %>
                                            <div>
                                                <p style=" float: left;">Thời gian bắt đầu: <%= ar.time_Start %> </p>
                                                
                                <p style="float: right;">Thời gian kết thúc: <%= ar.time_End %> </p>
                            </div>
                        </div>
                    </div>
                    <!-- Example single danger button -->
                    <hr>
                    <%     }  %>
                    <%    }  %>
                    <% }); %>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc là muốn huỷ hoạt động này?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="/Volunteer_Setting/huythamgia" method="post">
                                <div class="modal-body">
                                     <input type="text" id="IDxoaNhap" value="" style="display: none;"" name="IDxoaNhap" >
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Có, tiếp tục</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
               <!-- end  Hoạt động đang tham gia -->
               <!-- Hoạt động đã kết thúc -->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <%   var index1=0, IDxoa1 %>
                    <% arr.forEach(function(ar) {   %>
                    <%  if(ar.ketthuc == true) {  %>
                        <%    for (let value of Object.values(ar.hoatdong)) { %>
                    <%    if(value.username == cookie  && value.display == "block"){  %>
                   
                    <div class="media" style=" background: #eee;
                            max-width: 800px;
                            padding: 15px 20px;
                            font-size: 16px;
                            border-radius:15px">
                        <img src="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-11.jpg" class="mr-3"
                            alt="..." style="width: 5%;">

                        <div class="media-body">
                            <a href="/profile/<%= ar.username %>">
                                <h5 class="mt-0 mb-1"> <%= ar.username %></h5>
                            </a>
                            <h5 class="mt-0 mb-1">Tiêu đề: <%= ar.tenbaiviet %></h5>
                            <div class="btn-group" style="float: right; position: relative; bottom: 60px;">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    apply
                                </button>
                                <div class="dropdown-menu" st>
                                    <% if(!cookie){ %>
                                    <a class="dropdown-item" href="#">Bạn cần đăng nhập đẻ thao tác với bài viết này
                                    </a>
                                    <% }else{ %>
                                    <a class="dropdown-item" href="/profile/<%= ar.username %>">Xem trang cá
                                        nhân</a>
                                    <a class="dropdown-item" href="/danhba_post/<%= ar.linhvuc %>/<%= ar.ID %>">Xem
                                        chi tiết bài viết này</a>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#exampleModal1" id="<%= ar.ID %>" value="<%= cookie %>" onclick="xoa<%= index1 %>()">
                                        xoá khỏi lịch sử tham gia
                                    </button>
                                    <!-- Modal -->
                                    <script>
                                        function xoa<%= index1 %>() {
                                            var IDxoa1= document.getElementById("<%= ar.ID %>").value;
                                            
                                            document.getElementById("IDxoaNhap2").value = IDxoa1
                                            document.getElementById("IDxoaNhap3").value = "<%= ar.ID %>"
                                        }
                                    </script>
                                    <% index1++ %>
                                    <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">báo cáo bài viết</a>
                                    <%  } %>
                                </div>
                            </div>
                            <%  if(ar.mota.length < 250){ %>
                            <p style="color: #575757;"><%= ar.mota %> </p>
                            <%    }else{ %>
                            <p style="color: #575757;"><%= ar.mota.slice(0, 250) %> <a
                                    href="/danhba_post/<%= ar.linhvuc %>/<%= ar.ID %>"">...xem thêm</a></p>
                                        <%     } %>
                                        <div>
                                            <p style=" float: left;">Thời gian bắt đầu:<%= ar.time_Start %></p>
                                            
                            <p style="float: right;">Thời gian kết thúc:<%= ar.time_End %>  </p>
                        </div>
                    </div>
                </div>
                <!-- Example single danger button -->
                <hr>
                <%     }  %>
                <%     }  %>
                <%    }  %>
                <% }); %>
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc là muốn huỷ hoạt động này?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/Volunteer_Setting/anHoatDongTrenLS" method="post">
                            <div class="modal-body">
                                <input type="text" id="IDxoaNhap2" value=""  name="username"  style="display:none">
                                <input type="text" id="IDxoaNhap3" value=""  name="IDxoaNhap3"  style="display:none">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Có, tiếp tục</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </div>

    </div>

    <style>
        body {
            background: -webkit-linear-gradient(left, rgb(218, 217, 217), #d3d3d3);
        }

        .emp-profile {
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-img {
            text-align: center;
        }

        .profile-img img {
            width: 70%;
            height: 100%;
        }

        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
        }

        .profile-img .file input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .profile-edit-btn {
            border: none;
            border-radius: 1.5rem;
            width: 70%;
            padding: 2%;
            font-weight: 600;
            color: #6c757d;
            cursor: pointer;
        }

        .proile-rating {
            font-size: 12px;
            color: #818182;
            margin-top: 5%;
        }

        .proile-rating span {
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }

        .profile-head .nav-tabs {
            margin-bottom: 5%;
        }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

        .profile-head .nav-tabs .nav-link.active {
            border: none;
            border-bottom: 2px solid #0062cc;
        }

        .profile-work {
            padding: 14%;
            margin-top: -15%;
        }

        .profile-work p {
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            margin-top: 10%;
        }

        .profile-work a {
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }

        .profile-work ul {
            list-style: none;
        }

        .profile-tab label {
            font-weight: 600;
        }

        .profile-tab p {
            font-weight: 600;
            color: #0062cc;
        }
    </style>
    <!--end body-->
</body>

</html>